 <span style="font-family:Microsoft YaHei;font-size:14px;"><!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns = "http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Jsbarcode测试</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="JsBarcode.all.js"></script>
</head>
<body>
    <div id="brcodes"></div>
    <hr>
    <script th:inline="javascript">
        // console.log([[${ids}]]);
        var count=0;
        $("#barcode").JsBarcode('Hi!');//or JsBarcode("#barcode", "Hi!");

        $("#canvas").JsBarcode('Hello world!');//or JsBarcode("#barcode", "Hello world!");

        $("#bcode").JsBarcode("I'm bwju!");//or JsBarcode("#barcode", "I'm bwju!");

        // var para=document.createElement("img");
        // para.setAttribute('id','code');
        // var test = document.getElementById('test');
        // test.appendChild(para);
        // $("#code").JsBarcode("12345");


        function f(div,content) {
            var para=document.createElement("img");
            var s_id=count+"";
            count++;
            para.setAttribute('id',s_id);
            var brcodes = document.getElementById('brcodes');
            brcodes.appendChild(para);
            s_id2="#"+s_id;
            $(s_id2).JsBarcode(content);
        }

        f("barcodes","12345")
        f("barcodes","1234567");

    </script>
</body>
</html></span>