<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset = "UTF-8">
    <title>BiblioSoft</title>
    <link rel = "icon" type = "image/png" href = "assets/i/favicon.png">
    <link rel = "apple-touch-icon-precomposed" href = "assets/i/app-icon72x72@2x.png">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <link rel = "stylesheet" href = "assets/css/admin.css">
    <style>
        .am-form-group {
            text-align: left;
        }

        .am-topbar {
            /*background-color: black;*/
        }

        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }

        .am-topbar-brand {
        }
    </style>
</head>
<body>
<header class = "am-topbar am-topbar-inverse admin-header">
    <h1 class = "am-topbar-brand ">
        <a href = "#" class = "am-text-ir">BiblioSoft</a>
    </h1>

    <button class = "am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse = "{target: '#doc-topbar-collapse'}"><span class = "am-sr-only">导航切换</span> <span
            class = "am-icon-bars"></span></button>

    <div class = "am-collapse am-topbar-collapse" id = "doc-topbar-collapse">
        <ul class = "am-nav am-nav-pills am-topbar-nav">
            <li class = "am-active"><a href = "#">首页</a></li>
            <li><a href = "#">项目</a></li>
            <li class = "am-dropdown" data-am-dropdown>
                <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                    下拉 <span class = "am-icon-caret-down"></span>
                </a>
                <ul class = "am-dropdown-content">
                    <li class = "am-dropdown-header">标题</li>
                    <li><a href = "#">1. 去月球</a></li>
                    <li class = "am-active"><a href = "#">2. 去火星</a></li>
                    <li><a href = "#">3. 还是回地球</a></li>
                    <li class = "am-disabled"><a href = "#">4. 下地狱</a></li>
                    <li class = "am-divider"></li>
                    <li><a href = "#">5. 桥头一回首</a></li>
                </ul>
            </li>
        </ul>

        <form class = "am-topbar-form am-topbar-left am-form-inline" role = "search">
            <div class = "am-form-group">
                <input type = "text" class = "am-form-field am-input-sm" placeholder = "搜索">
            </div>
        </form>

        <div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">

            <ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

                <li><a href = "javascript:;">
                    <button id = "change" class = "am-btn am-btn-primary am-btn-sm">中文/英文</button>
                </a></li>
                <li class = "am-dropdown" data-am-dropdown>
                    <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                        <a th:href = "@{/logout}">注销</a>
                    </a>

                </li>

            </ul>
        </div>

    </div>
</header>

<div class = "am-cf admin-main">
    <!-- sidebar start -->
    <div class = "admin-sidebar am-offcanvas" id = "admin-offcanvas">
        <div class = "am-offcanvas-bar admin-offcanvas-bar">
            <div class = "user-info">
                <img class = "am-img-circle am-img-thumbnail am-center" width="200" height="200"
                     th:src= "${avatarPath}"
                     alt = ""/>
                <p style = "text-align: center" th:text="${username}">Admin</p>
            </div>

            <ul class = "am-list admin-sidebar-list">

                <li><a href = "password_change"><span class = "am-icon-eraser"></span> 修改密码</a></li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav'}"><span
                            class = "am-icon-file"></span> 管理用户 <span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav">
                        <li><a href = "librarian_create"><span class = "am-icon-user-plus"></span> 创建图书管理员</a></li>
                        <li><a href = "librarian_edit"><span class = "am-icon-trash"></span> 编辑图书管理员</a></li>
                        <li><a href = "delete_users"><span class = "am-icon-trash"></span> 删除用户</a></li>
                    </ul>
                </li>

                <li><a href = "permission_change"><span class = "am-icon-eraser"></span> 修改权限</a></li>

            </ul>



            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-tag"></span> wiki</p>
                    <p>Welcome to the Amaze UI wiki!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->
    <!-- content start -->
    <div class = "admin-content">
        <div class = "admin-content-body">
            <div class = "am-cf am-padding am-padding-bottom-0">
                <div class = "am-fl am-cf"><strong class = "am-text-primary am-text-lg">创建新的图书管理员</strong> /
                    <small>New Librarian</small>
                </div>
            </div>

            <hr/>

            <div class = "am-g">


                <div class = "am-u-sm-12 am-u-md-8 ">
                    <form class = "am-form am-form-horizontal" name="form1" action = "modifyPassword" method = "post">
                        <div class = "am-form-group">
                            <label for = "admin-Old password" class = "am-u-sm-3 am-form-label">当前密码</label>
                            <div class = "am-u-sm-9">
                                <input type = "text" id = "admin-Old password" placeholder = "输入当前密码/Old password"
                                       name = "oldPassword">
                            </div>
                        </div>


                        <div class = "am-form-group">
                            <label for = "admin-New password" class = "am-u-sm-3 am-form-label">新的密码</label>
                            <div class = "am-u-sm-9">
                                <input type = "password" id = "admin-New password" placeholder = "输入新的密码/New password" name = "pwd1">
                            </div>
                        </div>

                        <div class = "am-form-group">
                            <label for = "admin-New password" class = "am-u-sm-3 am-form-label">确认密码</label>
                            <div class = "am-u-sm-9">
                                <input type = "password" id = "admin-Confirm password" autocomplete="new-password" placeholder = "确认输入密码/Confirm password" name = "newPassword" onchange="checkpwd()">
                            </div>
                        </div>


                        <div class = "am-form-group">
                            <div class = "am-u-sm-9 am-u-sm-push-3">
                                <button type = "submit" class = "am-btn am-btn-primary" id="btnName">提 交
                                </button>
                            </div>
                        </div>

                        <div class = "am-form-group">
                            <div class = "am-u-sm-9 am-u-sm-push-3">
                                <div id="msg" style="color:red;"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <footer class = "admin-content-footer">
            <hr>
            <p class = "am-padding-left" style = "text-align: center">© 2018 Biboliosoft Online Library System</p>
        </footer>

    </div>
    <!-- content end -->
</div>


<!--[if lt IE 9]>
<script src = "assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src = "assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src = "assets/js/amazeui.min.js"></script>
<script src = "assets/js/app.js"></script>

<script th:inline = "javascript">
    var status = [[${status}]];

    function isOk() {
        console.log(status);
        if (status != 'null') {
            if (status == 1) {
                alert("密码修改成功！");
            }
            else
                alert("原始密码错误");
        }
    }

    isOk();
</script>

<script type = "text/javascript" src = "assets/js/charts/echarts.min.js"></script>
<script type = "text/javascript" src = "assets/js/charts/pieChart.js"></script>
<script src = "assets/js/test.js">
</script>
<script type = "text/javascript">
    $("#change").click(function () {
        translate();
    })
</script>
<script type="text/javascript">
    function checkpwd(){
        var p1=document.form1.pwd1.value;//获取密码框的值
        var p2=document.form1.newPassword.value;//获取重新输入的密码值
        if(p1==""){
            alert("请输入密码！");//检测到密码为空，提醒输入//
            document.form1.pwd1.focus();//焦点放到密码框
            return false;//退出检测函数
        }//如果允许空密码，可取消这个条件
        if(p1!=p2){//判断两次输入的值是否一致，不一致则显示错误信息
            document.getElementById("msg").innerHTML="两次输入密码不一致，请重新输入";//在div显示错误信息
            document.getElementById('btnName').disabled = true;//按钮失效
            return false;
        }else{
            //密码一致，可以继续下一步操作
            $('#msg').empty();
            document.getElementById('btnName').disabled = false;//按钮有效
            return true;
        }
    }
</script>

</body>
</html>