<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset = "UTF-8">
    <title>BiblioSoft</title>
    <link rel = "icon" type = "image/png" href = "assets/i/favicon.png">
    <link rel = "apple-touch-icon-precomposed" href = "assets/i/app-icon72x72@2x.png">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <link rel = "stylesheet" href = "assets/css/admin.css">
    <style>
        .am-form-group {
            text-align: left;
        }

        .am-topbar {
            /*background-color: black;*/
        }

        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }

        .am-topbar-brand {
        }
    </style>
</head>
<body>
<header class = "am-topbar am-topbar-inverse admin-header">
    <h1 class = "am-topbar-brand ">
        <a href = "#" class = "am-text-ir">BiblioSoft</a>
    </h1>

    <button class = "am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse = "{target: '#doc-topbar-collapse'}"><span class = "am-sr-only">导航切换</span> <span
            class = "am-icon-bars"></span></button>

    <div class = "am-collapse am-topbar-collapse" id = "doc-topbar-collapse">
        <ul class = "am-nav am-nav-pills am-topbar-nav">
            <li class = "am-active"><a href = "#">首页</a></li>
            <li><a href = "#">项目</a></li>
            <li class = "am-dropdown" data-am-dropdown>
                <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                    下拉 <span class = "am-icon-caret-down"></span>
                </a>
                <ul class = "am-dropdown-content">
                    <li class = "am-dropdown-header">标题</li>
                    <li><a href = "#">1. 去月球</a></li>
                    <li class = "am-active"><a href = "#">2. 去火星</a></li>
                    <li><a href = "#">3. 还是回地球</a></li>
                    <li class = "am-disabled"><a href = "#">4. 下地狱</a></li>
                    <li class = "am-divider"></li>
                    <li><a href = "#">5. 桥头一回首</a></li>
                </ul>
            </li>
        </ul>

        <form class = "am-topbar-form am-topbar-left am-form-inline" role = "search">
            <div class = "am-form-group">
                <input type = "text" class = "am-form-field am-input-sm" placeholder = "搜索">
            </div>
        </form>

        <div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">

            <ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

                <li><a href = "javascript:;">
                    <button id = "change" class = "am-btn am-btn-primary am-btn-sm">中文/英文</button>
                </a></li>

                <li class = "am-dropdown" data-am-dropdown>
                    <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                        <a th:href = "@{/logout}">注销</a>
                    </a>

                </li>

            </ul>
        </div>

    </div>
</header>

<div class = "am-cf admin-main">
    <!-- sidebar start -->
    <div class = "admin-sidebar am-offcanvas" id = "admin-offcanvas">
        <div class = "am-offcanvas-bar admin-offcanvas-bar">
            <div class = "user-info">
                <img class = "am-img-circle am-img-thumbnail am-center" width = "200" height = "200"
                     th:src = "${avatarPath}"
                     alt = ""/>
                <p style = "text-align: center" th:text = "${username}">纯洁神王</p>
            </div>

            <ul class = "am-list admin-sidebar-list">
                <li><a href = "librarian_homepage"><span class = "am-icon-home"></span> 首页</a></li>
                <li><a href = "librarian_user" class = "am-cf"><span class = "am-icon-check"></span> 个人资料<span
                        class = "am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav'}"><span
                            class = "am-icon-file"></span> 管理图书 <span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav">
                        <li><a href = "librarian_borrow"><span class = "am-icon-leaf"></span> 借阅</a></li>
                        <li><a href = "librarian_return"><span class = "am-icon-mail-reply"></span> 归还</a></li>
                        <li><a href = "librarian_table"><span class = "am-icon-book"></span> 管理图书</a></li>
                        <li><a href = "librarian_deletebookhistory"><span class = "am-icon-trash"> 删除记录</span></a></li>
                        </li>
                    </ul>
                </li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav2'}"><span
                            class = "am-icon-user"></span> 管理读者 <span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav2">
                        <li><a href = "librarian_addreader"><span class = "am-icon-user-plus"></span> 增加读者</a></li>
                        <li><a href = "librarian_managereader"><span class = "am-icon-pencil"></span> 管理读者</a></li>
                    </ul>
                </li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav3'}"><span
                            class = "am-icon-table"></span> 记录 <span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav3">
                        <li><a href = "librarian_record"><span class = "am-icon-book"></span> 预约记录</a></li>
                        <li><a href = "librarian_history"><span class = "am-icon-book"></span> 借阅记录</a></li>
                        <li><a href = "librarian_income"><span class = "am-icon-money"></span> 收入记录 </a></li>
                        <li><a href = "librarian_fine"><span class = "am-icon-bolt"></span> 罚金记录</a></li>
                    </ul>
                </li>
                <li><a href = "librarian_announce"><span class = "am-icon-comment"></span> 发布公告</a></li>
            </ul>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-bookmark"></span> 公告</p>
                    <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
                </div>
            </div>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-tag"></span> wiki</p>
                    <p>Welcome to the Amaze UI wiki!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->
    <!-- content start -->
    <div class = "admin-content">
        <div class = "admin-content-body">
            <div class = "am-cf am-padding am-padding-bottom-0">
                <div class = "am-fl am-cf"><strong class = "am-text-primary am-text-lg">Manage reader</strong> /
                    <small>管理用户</small>
                </div>
                <div class = "am-g">
                    <div class = "am-u-sm-12 am-u-md-6">
                        <div class = "am-btn-toolbar">
                            <div class = "am-btn-group am-btn-group-xs">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>


            <div class = "card-box">
                <!-- Row start -->

                <!-- Row end -->

                <!-- Row start -->
                <div class = "am-g">
                    <div class = "am-u-sm-12">
                        <table class = "am-table am-table-striped am-table-hover table-main" id = "readerlist">
                            <thead>
                            <tr>
                                <th class = "table-id">ID</th>
                                <th class = "table-title">用户名</th>
                                <th class = "table-author am-hide-sm-only">姓名</th>
                                <th class = "table-date am-hide-sm-only">邮箱</th>
                                <th class = "table-money">已缴</th>
                                <th class = "table-money">未缴</th>
                                <th class = "table-set">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each = "user:${set}" th:id = "${user.id}">
                                <td th:text = "${user.id}"></td>
                                <td><a th:text = "${user.username}" th:href = "@{librarian_readerinfo(id=${user.id})}"></a>
                                </td>
                                <td class = "am-hide-sm-only" th:text = "${user.name}"></td>
                                <td class = "am-hide-sm-only" th:text = "${user.email}"></td>
                                <td class = "am-hide-sm-only" th:text = "${user.paidFine}"></td>
                                <td class = "am-hide-sm-only" th:text = "${user.unPaidFine}"></td>
                                <td>
                                    <div class = "am-btn-toolbar">
                                        <div class = "am-btn-group am-btn-group-xs">
                                            <button class = "am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only delete">
                                                <span class = "am-icon-trash-o">删除</span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- Row end -->

            </div>


        </div>
        <footer class = "admin-content-footer">
            <hr>
            <p class = "am-padding-left" style = "text-align: center">© 2018 Biboliosoft Online Library System</p>
        </footer>

    </div>
    <!-- content end -->
</div>


<!--[if lt IE 9]>
<script src = "assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src = "assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src = "assets/js/amazeui.min.js"></script>
<script src = "assets/js/app.js"></script>


<script type = "text/javascript" src = "assets/js/charts/echarts.min.js"></script>
<script src = "assets/js/test.js"></script>
<script src = "dist/amazeui.datatables.min.js"></script>
<script>
    $(function () {
        $('#readerlist').DataTable(
            {
                "ordering": false,
                "bLengthChange": false,
            }
        );
    });

    $(function(){
        $("table#readerlist tbody").on('click', 'button.delete', function () {
            let id = $('#readerlist').DataTable().rows($('#readerlist').DataTable().row($(this).parents('tr'))).data()[0][0];
            deleteuser(id, $(this));
        })
    });

    function fun(val) {
        $('#readerlist').DataTable().row(val.parents('tr')).remove().draw();
    }

    function deleteuser(id, val) {
        $.ajax(
            {
                method: 'GET',
                url: "deleteReader",
                data: {id: id},
                success: function (data) {
                    if (data.status == 0) {
                        alert("删除成功");
                        fun(val);
                    }
                    else {
                        alert("删除失败");
                    }
                }
            }
        );
    }

    $(function(){
        $("table#readerlist tbody").on('click', 'button.delete', function () {
                // if(status){
                //     $('#readerlist').DataTable().row($(this).parents('tr')).remove().draw();
                //     status = false;
                // }
                console.log($('#readerlist').row($(this).parent('tr').children('td')));
                console.log($('#readerlist').DataTable().row($(this).parent('tr')));
                console.log($('#readerlist').DataTable().row($(this).parent('tr')).column(0).context);
                console.log($('#readerlist').DataTable().row($(this).parent('tr')).data());
        })
    });
</script>
<script type = "text/javascript">
    $("#change").click(function () {
        translate();
    })
</script>
</body>
</html>