<span style="font-family:Microsoft YaHei;font-size:14px;"><!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
       xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns = "http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Jsbarcode测试</title>
    <script src = "assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="dist/JsBarcode.all.js"></script>
</head>
<body>

    <div class = "am-cf am-padding am-padding-bottom-0">
        <a href="#" onclick="javascript:history.back(-1);">Go Back</a>
    </div>
    <hr>
    <div id="brcodes"></div>
    <script th:inline="javascript">
        console.log([[${ids}]]);
        var ids=[[${ids}]];
        var count=0;
        var brcodes = document.getElementById('brcodes');

        // var para=document.createElement("img");
        // para.setAttribute('id','code');
        // var test = document.getElementById('test');
        // test.appendChild(para);
        // $("#code").JsBarcode("12345");


        function f(div,content) {
            var para=document.createElement("img");
            var s_id=count+"";
            count++;
            para.setAttribute('id',s_id);
            brcodes.appendChild(para);
            s_id2="#"+s_id;
            $(s_id2).JsBarcode(content);
        }

        for(var i=0;i<ids.length;i++)
        {
            console.log(ids[i]);
            f("barcodes",ids[i]);
            var hr=document.createElement("hr");
            brcodes.appendChild(hr);
        }
    </script>
</body>
</html></span>
