<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset = "UTF-8">
    <title>BiblioSoft</title>
    <link rel = "icon" type = "image/png" href = "assets/i/favicon.png">
    <link rel = "apple-touch-icon-precomposed" href = "assets/i/app-icon72x72@2x.png">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css">
    <link rel = "stylesheet" href = "assets/css/admin.css">
    <link rel = "stylesheet" href="dist/amazeui.datatables.css">
    <!--<link rel = "stylesheet" href = "//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">-->
    <style>
        .am-table {

        }

        .am-topbar {
            /*background-color: black;*/
        }

        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }
    </style>
</head>
<body>
<header class = "am-topbar am-topbar-inverse admin-header">
    <h1 class = "am-topbar-brand ">
        <a href = "#" class = "am-text-ir">BiblioSoft</a>
    </h1>


    <div class = "am-collapse am-topbar-collapse" id = "doc-topbar-collapse">

        <div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">

            <ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        <span th:text="#{lan44}">语言</span> <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href = "changeSessionLanguage?lang=zh">中文</a></li>
                        <li><a href = "changeSessionLanguage?lang=en">ENGLISH</a></li>
                    </ul>
                </li>

                <li class = "am-dropdown" data-am-dropdown>
                    <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                        <a th:href = "@{/logout}" th:text="#{lg_yxy}">注销</a>
                    </a>

                </li>

            </ul>
        </div>

    </div>
</header>

<div class = "am-cf admin-main">
    <!-- sidebar start -->
    <div class = "admin-sidebar am-offcanvas" id = "admin-offcanvas">
        <div class = "am-offcanvas-bar admin-offcanvas-bar">
            <div class = "user-info">
                <img class = "am-img-circle am-img-thumbnail am-center" width="150" height="150"
                     th:src= "${avatarPath}"
                     alt = ""/>
                <p style = "text-align: center" th:text="${username}">纯洁神王</p>
            </div>

            <ul class = "am-list admin-sidebar-list">
                <li><a href = "librarian_homepage"><span class = "am-icon-home"></span><span th:text="#{ho_yxy}"> 首页</span></a></li>
                <li><a href = "librarian_user" class = "am-cf"><span class = "am-icon-check"></span><span th:text="#{pd_yxy}"> 个人资料</span><span
                        class = "am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                <li><a href = "password_change"><span class = "am-icon-eraser"></span><span th:text="#{cp_yxy}"> 修改密码</span></a></li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav'}"><span
                            class = "am-icon-file"></span><span th:text="#{mb_yxy}"> 管理图书</span> <span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav">
                        <li><a href = "librarian_borrow"><span class = "am-icon-leaf"></span><span th:text="#{bo_yxy}"> 借阅</span></a></li>
                        <li><a href = "librarian_return"><span class = "am-icon-mail-reply"></span><span th:text="#{re_yxy}"> 归还</span></a></li>
                        <li><a href = "librarian_table"><span class = "am-icon-book"></span><span th:text="#{mb_yxy}"> 管理图书</span></a></li>
                        <li><a href = "librarian_deletebookhistory"><span class = "am-icon-trash"><span th:text="#{dr_yxy}"> 删除记录</span></span></a></li>
                        </li>
                    </ul>
                </li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav2'}"><span
                            class = "am-icon-user"></span><span th:text="#{mr_yxy}"> 管理读者 </span><span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub" id = "collapse-nav2">
                        <li><a href = "librarian_addreader"><span class = "am-icon-user-plus"></span><span th:text="#{ar_yxy}"> 增加读者</span></a></li>
                        <li><a href = "librarian_managereader"><span class = "am-icon-pencil"></span><span th:text="#{mr_yxy}"> 管理读者</span></a></li>
                    </ul>
                </li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav3'}"><span
                            class = "am-icon-table"></span><span th:text="#{rec_yxy}"> 记录 </span><span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub" id = "collapse-nav3">
                        <li><a href = "librarian_record"><span class = "am-icon-book"></span><span th:text="#{rr_yxy}"> 预约记录</span></a></li>
                        <li><a href = "librarian_history"><span class = "am-icon-book"></span><span th:text="#{br_yxy}"> 借阅记录</span></a></li>
                        <li><a href = "librarian_income"><span class = "am-icon-money"></span><span th:text="#{ir_yxy}"> 收入记录 </span></a></li>
                        <!--<li><a href = "librarian_fine"><span class = "am-icon-bolt"></span><span th:text="#{fr_yxy}"> 罚金记录</span></a></li>-->
                    </ul>
                </li>
                <li><a href = "librarian_announce"><span class = "am-icon-comment"></span><span th:text="#{an_yxy}"> 发布公告</span></a></li>
                <li><a href = "librarian_message"><span class = "am-icon-comment"></span><span th:text="#{m44}"> 留言 </span></a></li>
            </ul>

            <!--<div class = "am-panel am-panel-default admin-sidebar-panel">-->
            <!--<div class = "am-panel-bd">-->
            <!--<p><span class = "am-icon-bookmark"></span><span th:text="#{no_yxy}"> 公告</span></p>-->
            <!--<p th:text="#{announcement44}">时光静好，与君语；细水流年，与君同。</p>-->
            <!--</div>-->
            <!--</div>-->

            <!-- <div class = "am-panel am-panel-default admin-sidebar-panel">
                 <div class = "am-panel-bd">
                     <p><span class = "am-icon-tag"></span> wiki</p>
                     <p>Welcome to the Amaze UI wiki!</p>
                 </div>
             </div>-->
        </div>
    </div>
    <!-- sidebar end -->
    <div class = "admin-content">
        <div class = "admin-content-body">
            <div class = "am-cf am-padding am-padding-bottom-0">
                <div class = "am-fl am-cf"><strong class = "am-text-primary am-text-lg" th:text="#{BookList_ysw}">书本清单</strong> /
                    <small>BookList</small>
                </div>
            </div>

            <hr>

            <div class = "am-g">
                <div class = "am-u-sm-12 am-u-md-6">
                    <div class = "am-btn-toolbar">
                        <div class = "am-btn-group am-btn-group-xs">
                            <button type = "button" class = "am-btn am-btn-default" id = "add-book" ><span
                                    class = "am-icon-plus"></span> <span th:text="#{ni_ysw}">新增</span>
                            </button>
                            <button type = "button" class = "am-btn am-btn-default" id = "tocategory" onclick="location.href='librarian_position'">
                                <span class = "am-icon-table"></span> <span th:text="#{location}">位置</span>
                            </button>
                            <button type = "button" class = "am-btn am-btn-default" id = "toposition" onclick="location.href='librarian_category'">
                                <span class = "am-icon-book"></span> <span th:text="#{category}">类别</span>
                            </button>
                            <!--<button type = "button" class = "am-btn am-btn-default" ><span-->
                                    <!--class = "am-icon-trash-o"></span>  <span th:text="#{Delete}">删除</span>-->
                            <!--</button>-->
                        </div>
                    </div>
                </div>

                <div class = "am-u-sm-12 am-u-md-3">

                </div>
            </div>

            <div class = "am-g">
                <div class = "am-u-sm-12">
                    <table class = "am-table am-table-striped am-table-hover " id = "booklist">
                        <thead>
                        <tr>
                            <th class = "table-id" th:text="#{id}">书号</th>
                            <th class = "table-title" th:text="#{title_ysw}">标题</th>
                            <!--<th class = "table-isbn">ISBN</th>-->
                            <th class = "table-author " th:text="#{au44}">作者</th>
                            <th class = "table-publisher" th:text="#{publisher}">出版社</th>
                            <th class = "table-date " th:text="#{state}">出版日期</th>
                            <th class = "table-positon " th:text="#{location}">图书位置</th>
                            <th class = "table-set" th:text="#{Operation}">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "bunit:${set}">
                            <td th:text = "${bunit.id}"></td>
                            <td ><a th:text = "${bunit.book.title}" th:href="@{librarian_book(id=${bunit.id})}"></a></td>
                            <!--<td th:text = "${bunit.book.isbn}"></td>-->
                            <td  th:text = "${bunit.book.author}"></td>
                            <td  th:text = "${bunit.book.publisher}"></td>
                            <td  th:text = "${bunit.status1}"></td>
                            <td  th:text = "${bunit.book.position}"></td>
                            <td>
                                <div class = "am-btn-toolbar">
                                    <div class = "am-btn-group am-btn-group-xs">
                                        <button class = "am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only delete"
                                                th:onclick = "'javascript:deletebook('+${bunit.id}+')'">
                                            <span class = "am-icon-trash-o" th:text="#{Delete}">删除</span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <footer class = "admin-content-footer">
            <hr>
            <p class = "am-padding-left" style = "text-align: center">© 2018 Bibliosoft Online Library System</p>
        </footer>

        <div class = "am-modal am-modal-prompt" tabindex = "-1" id = "my-prompt">
            <div class = "am-modal-dialog">
                <div class = "am-modal-hd" th:text="#{Addbook_ysw}">添加图书</div>
                <form class = "am-modal-bd am-form am-form-horizontal" method = "post" action = "addbook" enctype = "multipart/form-data">
                    <div class = "am-form-group">
                        <label for = "isbn" class = "am-u-sm-3 am-form-label">ISBN</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "isbn" placeholder = "ISBN" name = "isbn">
                        </div>
                    </div>


                    <div class = "am-form-group">
                        <label for = "title" class = "am-u-sm-3 am-form-label" th:text="#{btitle}">书名</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "title" placeholder = "Title" name = "title" required>
                        </div>
                    </div>


                    <div class = "am-form-group">
                        <label for = "author" class = "am-u-sm-3 am-form-label" th:text="#{au44}">作者</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "author" placeholder = "Author" name = "author" required>
                        </div>
                    </div>

                    <div class = "am-form-group">
                        <label for = "category" class = "am-u-sm-3 am-form-label" th:text="#{category}">类别</label>
                        <div class = "am-u-sm-9">
                            <!--<input type = "text" id = "type" placeholder = "Type" name = "category">-->
                            <select data-am-selected="{searchBox: 1,maxHeight: 100,btnWidth: '360px',btnSize: 'sm',}" id="category" name="category" typeof="text">
                                <script th:inline="javascript">
                                    var categories=[[${categories}]];
                                    for(var i=0;i<categories.length;i++){
                                        document.write("<option value='"+categories[i].name+"'>"+categories[i].name+"</option>");
                                    }
                                </script>
                            </select>
                        </div>
                    </div>

                    <div class = "am-form-group">
                        <label for = "position" class = "am-u-sm-3 am-form-label" th:text="#{location}">位置</label>
                        <div class = "am-u-sm-9">
                            <!--<input type = "text" id = "position" placeholder = "position" name = "position">-->
                            <select data-am-selected="{searchBox: 1,maxHeight: 150,btnWidth: '360px',btnSize: 'sm',btnStyle: 'am-btn am-btn-default'}" id="position" name="position" typeof="text" placeholder="A-302">
                                <script th:inline="javascript">
                                    var locations=[[${locations}]]
                                    for(var i=0;i<locations.length;i++){
                                        document.write("<option value='"+locations[i].name+"'>"+locations[i].name+"</option>");
                                    }
                                </script>
                            </select>
                        </div>
                    </div>

                    <div class = "am-form-group">
                        <label for = "publisher" class = "am-u-sm-3 am-form-label" th:text="#{publisher}">出版社</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "publisher" placeholder = "Publisher" name = "publisher" required>
                        </div>
                    </div>

                    <div class = "am-form-group ">
                        <label for = "publish_time" class = "am-u-sm-3 am-form-label" th:text="#{pubdate}">出版时间</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "publish_time" placeholder = "Publish Time" name = "publishDate" required>
                        </div>
                    </div>


                    <div class = "am-form-group">
                        <label for = "number" class = "am-u-sm-3 am-form-label" th:text="#{num}">数量</label>
                        <div class = "am-u-sm-9">
                            <select data-am-selected="{maxHeight: 100,btnWidth: '360px',btnSize: 'sm',}" id="number" name="number" typeof="number">
                                <script th:inline="javascript">
                                    for(var i=1;i<=100;i++){
                                        document.write("<option value='"+i+"'>"+i+"</option>");
                                    }
                                </script>
                            </select>
                        </div>
                    </div>

                    <div class = "am-form-group">
                        <label for = "abstract" class = "am-u-sm-3 am-form-label" th:text="#{brief}">简介</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "abstract" placeholder = "Abstract" name = "brief">
                        </div>
                    </div>

                    <div class = "am-form-group ">
                        <label for = "price" class = "am-u-sm-3 am-form-label" th:text="#{price}">价格</label>
                        <div class = "am-u-sm-9">
                            <input type = "number" id = "price" placeholder = "Price" name = "price" min = "0" step="0.01" required>
                        </div>
                    </div>

                    <div class = "am-form-group am-hide">
                        <div class = "am-u-sm-9 ">
                            <input type="text"  id = "cover" class = "am-modal-prompt-input" name = "coverPath">
                        </div>
                    </div>


                    <div class = "am-modal-footer am-g">
                        <div class = "am-u-sm-7 am-u-sm-push-2 am-u-end">
                            <input type = "submit" data-am-modal-confirm th:value="#{submit}" class = "am-btn am-btn-primary"></div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- content end -->

</div>


<!--[if lt IE 9]>
<script src = "http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src = "http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src = "assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<script th:inline="javascript" src = "assets/js/jquery.min.js"></script>



<script th:inline="javascript" src = "dist/amazeui.datatables.js"></script>
<!--<script th:inline="javascript" src = "//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>-->
<script src = "assets/js/amazeui.min.js"></script>
<script src = "assets/js/app.js"></script>
<script type = "text/javascript" src = "assets/js/switch_language.js"></script>
<script th:inline="javascript">
    var a=[ 0,"desc"];
    $(document).ready(function(){
        $("#booklist").DataTable(
            {
                "bAutoWidth": false,
                "order": [a],
                // "ordering":false,
                //"ordering":false,
                "bLengthChange":false,
                // "pagingType": "full",
                language:{
                    "oPaginate": {
                        "sFirst": "First",
                        "sPrevious": [[#{p_zj}]],
                        "sNext": [[#{n_zj}]],
                        "sLast": "Last"
                    },
                    "sSearch": [[#{Search}]],
                    "sInfo": " _START_ - _END_ ，In _TOTAL_",
                    "sInfoEmpty": "0",
                    "sInfoFiltered": "(from _MAX_ )",
                    "sEmptyTable": " "
                }
            }
        );

    });
</script>
<script>
    $(function () {
        $('#add-book').on('click', function () {
            $('#my-prompt').modal({
                relatedTarget: this,
                // onConfirm: function (e) {
                //     alert('创建成功')
                // },
                // onCancel: function (e) {
                //
                // }
            });
        });
    });
</script>
<script th:inline="javascript">
    function getBook(isbn) {
        var url = 'https://api.douban.com/v2/book/isbn/'+isbn;
        $.ajax({
            url: url,
            dataType: 'jsonp',
            success:function (data) {
                console.log(data);
                $("#title").attr("value",data.title.toString());
                $("#author").attr("value",data.author.toString());
                $("#publish_time").attr("value",data.pubdate.toString());
                $("#publisher").attr("value",data.publisher.toString());
                $("#abstract").attr("value",data.summary);
                $("#cover").attr("value",data.image);
                $("#price").attr("value",data.price.replace(/[^0-9|.]/ig,""));
            }
        });
    }
    $("#isbn").blur(function () {
        var isbn = $(this).val();
        getBook(isbn);

    })

    $(function(){
        $("table#booklist tbody").on('click', 'button.delete', function () {
            $('#booklist').DataTable().row($(this).parents('tr')).remove().draw();
        })
    });

    function deletebook(id) {
        $.ajax(
            {
                method: 'GET',
                url: "deletebook",
                data: {id: id},
                success: function (data) {
                    if (data.status == 0) {
                        alert([[#{notice_success}]]);
                        // document.getElementById('readlist').deleteRow(id);
                    }
                    else {
                        alert([[#{fail}]]);
                    }
                }
            }
        );
    }
</script>
<script type = "text/javascript" src = "assets/js/test.js"></script>


<script type = "text/javascript">
    $("#change").click(function () {
        translate();
    })
</script>

</body>
</html>

