<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset = "UTF-8">
    <title>BiblioSoft</title>
    <link rel = "icon" type = "image/png" href = "assets/i/favicon.png">
    <link rel = "apple-touch-icon-precomposed" href = "assets/i/app-icon72x72@2x.png">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <link rel = "stylesheet" href = "assets/css/admin.css">
    <style>
        .am-form-group {
            text-align: left;
        }

        .am-topbar {
            /*background-color: black;*/
        }

        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }

        .am-topbar-brand {
        }
    </style>
</head>
<body>
<header class = "am-topbar am-topbar-inverse admin-header">
    <h1 class = "am-topbar-brand ">
        <a href = "#" class = "am-text-ir">BiblioSoft</a>
    </h1>

    <button class = "am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse = "{target: '#doc-topbar-collapse'}"><span class = "am-sr-only">导航切换</span> <span
            class = "am-icon-bars"></span></button>

    <div class = "am-collapse am-topbar-collapse" id = "doc-topbar-collapse">
        <ul class = "am-nav am-nav-pills am-topbar-nav">
            <li class = "am-active"><a href = "#">首页</a></li>
            <li><a href = "#">项目</a></li>
            <li class = "am-dropdown" data-am-dropdown>
                <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                    下拉 <span class = "am-icon-caret-down"></span>
                </a>
                <ul class = "am-dropdown-content">
                    <li class = "am-dropdown-header">标题</li>
                    <li><a href = "#">1. 去月球</a></li>
                    <li class = "am-active"><a href = "#">2. 去火星</a></li>
                    <li><a href = "#">3. 还是回地球</a></li>
                    <li class = "am-disabled"><a href = "#">4. 下地狱</a></li>
                    <li class = "am-divider"></li>
                    <li><a href = "#">5. 桥头一回首</a></li>
                </ul>
            </li>
        </ul>

        <form class = "am-topbar-form am-topbar-left am-form-inline" role = "search">
            <div class = "am-form-group">
                <input type = "text" class = "am-form-field am-input-sm" placeholder = "搜索">
            </div>
        </form>

        <div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">

            <ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

                <li><a href = "javascript:;">
                    <button id = "change" class = "am-btn am-btn-primary am-btn-sm">中文/英文</button>
                </a></li>

                <li class = "am-dropdown" data-am-dropdown>
                    <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                        <a th:href = "@{/logout}">注销</a>
                    </a>

                </li>

            </ul>
        </div>

    </div>
</header>

<div class = "am-cf admin-main">
    <!-- sidebar start -->
    <div class = "admin-sidebar am-offcanvas" id = "admin-offcanvas">
        <div class = "am-offcanvas-bar admin-offcanvas-bar">
            <div class = "user-info">
                <img class = "am-img-circle am-img-thumbnail am-center"
                     src = "http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/200/h/200/q/80"
                     alt = ""/>
                <p style = "text-align: center">纯洁神王</p>
            </div>

            <ul class = "am-list admin-sidebar-list">
                <li><a href = "librarian_homepage"><span class = "am-icon-home"></span> 首页</a></li>
                <li><a href = "librarian_user" class = "am-cf"><span class = "am-icon-check"></span> 个人资料<span
                        class = "am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav'}"><span
                            class = "am-icon-file"></span> 管理图书 <span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav">
                        <li><a href = "librarian_borrow"><span class = "am-icon-leaf"></span> 借阅</a></li>
                        <li><a href = "librarian_return"><span class = "am-icon-mail-reply"></span> 归还</a></li>
                        <li><a href = "librarian_table"><span class = "am-icon-book"></span> 管理图书</a></li>
                        <li><a href = "librarian_record"><span class = "am-icon-calendar-check-o"></span> 预约记录</a>
                        </li>
                    </ul>
                </li>
                <li><a href = "#"><span class = "am-icon-comment"></span> 发布公告</a></li>
            </ul>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-bookmark"></span> 公告</p>
                    <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
                </div>
            </div>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-tag"></span> wiki</p>
                    <p>Welcome to the Amaze UI wiki!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->
    <!-- content start -->
    <div class = "admin-content">
        <div class = "admin-content-body">
            <div class = "am-cf am-padding am-padding-bottom-0">
                <div class = "am-fl am-cf"><strong class = "am-text-primary am-text-lg">主页</strong> /
                    <small>Homepage</small>
                </div>
            </div>

            <hr/>

            <div class = "content-page">
                <!-- Start content -->
                <div class = "content">

                    <ul class = "am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
                        <li>
                            <a href = "#" class = "am-text-success"><span
                                class = "am-icon-btn am-icon-book"></span><br/>今日借阅<br/>
                            <span th:text="${todayBorrowNumber}">100</span>
                            </a>
                        </li>
                        <li>
                            <a href = "#" class = "am-text-warning"><span
                                class = "am-icon-btn am-icon-clock-o"></span><br/>逾期人数<br/>
                                <span th:text="${todayReturnNumber}">100</span>
                            </a>
                        </li>
                        <li>
                            <a href = "#" class = "am-text-danger"><span
                                class = "am-icon-btn am-icon-recycle"></span><br/>今日归还<br/>
                            <span th:text="${todayOverdueNumber}">100</span>
                            </a>
                        </li>
                        <li>
                            <a href = "#" class = "am-text-secondary"><span
                                class = "am-icon-btn am-icon-user-md"></span><br/>罚金收入<br/>
                                <span th:text="${todayFineIncome}">100</span>
                            </a>
                        </li>
                    </ul>


                    <div class = "am-g">
                        <div class = "am-u-md-6">
                            <!-- Step Line -->
                            <div class = "card-box">
                                <div id = "pie1" style = "width: 100%;height: 400px;"></div>
                            </div>
                        </div>

                        <div class = "am-u-md-6">
                            <!-- 大数据面积图  -->
                            <div class = "am-card">
                                <div id = "Stack" style = "width: 100%;height: 400px;"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer class = "admin-content-footer am-footer-desktop am-footer-fixed">
            <hr>
            <p class = "am-padding-left" style = "text-align: center">© 2018 Biboliosoft Online Library System</p>
        </footer>

    </div>
    <!-- content end -->

</div>


<!--[if lt IE 9]>
<script src = "assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src = "assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src = "assets/js/amazeui.min.js"></script>
<script src = "assets/js/app.js"></script>
<script type = "text/javascript" src = "assets/js/charts/echarts.min.js"></script>
<script type = "text/javascript" src = "assets/js/charts/pieChart.js"></script>
<script type = "text/javascript" src = "assets/js/test.js"></script>
<script type = "text/javascript">
    $("#change").click(function () {
        translate();
    })
</script>
<script>
    console.log(100);
</script>
</body>
</html>