<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset = "UTF-8">
    <title>BiblioSoft</title>
    <link rel = "icon" type = "image/png" href = "assets/i/favicon.png">
    <link rel = "apple-touch-icon-precomposed" href = "assets/i/app-icon72x72@2x.png">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <link rel = "stylesheet" href = "assets/css/admin.css">
    <style>
        .am-form-group {
            text-align: left;
        }

        .am-topbar {
            /*background-color: black;*/
        }

        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }

        .am-topbar-brand {
        }
    </style>
</head>
<body>
<header class = "am-topbar am-topbar-inverse admin-header">
    <h1 class = "am-topbar-brand ">
        <a href = "#" class = "am-text-ir">BiblioSoft</a>
    </h1>

    <button class = "am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse = "{target: '#doc-topbar-collapse'}"><span class = "am-sr-only">导航切换</span> <span
            class = "am-icon-bars"></span></button>

    <div class = "am-collapse am-topbar-collapse" id = "doc-topbar-collapse">
        <ul class = "am-nav am-nav-pills am-topbar-nav">
            <li class = "am-active"><a href = "#">首页</a></li>
            <li><a href = "#">项目</a></li>
            <li class = "am-dropdown" data-am-dropdown>
                <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                    下拉 <span class = "am-icon-caret-down"></span>
                </a>
                <ul class = "am-dropdown-content">
                    <li class = "am-dropdown-header">标题</li>
                    <li><a href = "#">1. 去月球</a></li>
                    <li class = "am-active"><a href = "#">2. 去火星</a></li>
                    <li><a href = "#">3. 还是回地球</a></li>
                    <li class = "am-disabled"><a href = "#">4. 下地狱</a></li>
                    <li class = "am-divider"></li>
                    <li><a href = "#">5. 桥头一回首</a></li>
                </ul>
            </li>
        </ul>

        <form class = "am-topbar-form am-topbar-left am-form-inline" role = "search">
            <div class = "am-form-group">
                <input type = "text" class = "am-form-field am-input-sm" placeholder = "搜索">
            </div>
        </form>

        <div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">

            <ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

                <li><a href = "javascript:;">
                    <button id = "change" class = "am-btn am-btn-primary am-btn-sm">中文/英文</button>
                </a></li>

                <li class = "am-dropdown" data-am-dropdown>
                    <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                        <a th:href = "@{/logout}">注销</a>
                    </a>

                </li>

            </ul>
        </div>

    </div>
</header>

<div class = "am-cf admin-main" style="">
    <!-- sidebar start -->
    <div class = "admin-sidebar am-offcanvas" id = "admin-offcanvas">
        <div class = "am-offcanvas-bar admin-offcanvas-bar">
            <div class = "user-info">
                <img class = "am-img-circle am-img-thumbnail am-center"
                     src = "http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/200/h/200/q/80"
                     alt = ""/>
                <p style = "text-align: center">纯洁神王</p>
            </div>

            <ul class = "am-list admin-sidebar-list">
                <li><a href = "librarian_homepage"><span class = "am-icon-home"></span> 首页</a></li>
                <li><a href = "librarian_user" class = "am-cf"><span class = "am-icon-check"></span> 个人资料<span
                        class = "am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav'}"><span
                            class = "am-icon-file"></span> 管理图书 <span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav">
                        <li><a href = "librarian_borrow"><span class = "am-icon-leaf"></span> 借阅</a></li>
                        <li><a href = "librarian_return"><span class = "am-icon-mail-reply"></span> 归还</a></li>
                        <li><a href = "librarian_table"><span class = "am-icon-book"></span> 管理图书</a></li>
                        <li><a href = "librarian_deletebookhistory"><span class="am-icon-trash"> 删除记录</span></a></li>
                        </li>
                    </ul>
                </li>
                <li class="admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav2'}"><span
                            class = "am-icon-user"></span> 管理读者 <span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav2">
                        <li><a href = "librarian_addreader"><span class = "am-icon-user-plus"></span> 增加读者</a></li>
                        <li><a href = "librarian_managereader"><span class = "am-icon-pencil"></span> 管理读者</a></li>
                    </ul>
                </li>
                <li class="admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav3'}"><span
                            class = "am-icon-table"></span> 记录 <span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav3">
                        <li><a href = "librarian_history"><span class = "am-icon-book"></span> 借阅记录</a></li>
                        <li><a href = "librarian_income"><span class = "am-icon-money"></span> 收入记录 </a></li>
                        <li><a href = "librarian_fine"><span class="am-icon-bolt"></span> 罚金记录</a></li>
                    </ul>
                </li>
                <li><a href = "librarian_announce"><span class = "am-icon-comment"></span> 发布公告</a></li>
            </ul>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-bookmark"></span> 公告</p>
                    <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
                </div>
            </div>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-tag"></span> wiki</p>
                    <p>Welcome to the Amaze UI wiki!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->
    <!-- content start -->
    <div class = "admin-content">
        <div class = "admin-content-body">
            <div class = "am-cf am-padding am-padding-bottom-0">
                <div class = "am-fl am-cf"><strong class = "am-text-primary am-text-lg">主页</strong> /
                    <small>Homepage</small>
                </div>
            </div>

            <hr/>

            <div class = "content-page">
                <!-- Start content -->
                <div class = "content">

                    <ul class = "am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
                        <li>
                            <a href = "#" class = "am-text-success"><span
                                    class = "am-icon-btn am-icon-book"></span><br/>今日借阅<br/>
                                <span th:text = "${todayBorrowNumber}"></span>
                            </a>
                        </li>
                        <li>
                            <a href = "#" class = "am-text-warning"><span
                                class = "am-icon-btn am-icon-clock-o"></span><br/>逾期人数<br/>
                                <span th:text="${todayOverdueNumber}"></span>
                            </a>
                        </li>
                        <li>
                            <a href = "#" class = "am-text-danger"><span
                                class = "am-icon-btn am-icon-recycle"></span><br/>今日归还<br/>
                            <span th:text="${todayReturnNumber}"></span>
                            </a>
                        </li>
                        <li>
                            <a href = "#" class = "am-text-secondary"><span
                                    class = "am-icon-btn am-icon-user-md"></span><br/>罚金收入<br/>
                                <span th:text = "${todayFineIncome}">100</span>
                            </a>
                        </li>
                    </ul>


                    <div class = "am-g">
                        <div class = "am-u-md-6">
                            <!-- Step Line -->
                            <div class = "card-box">
                                <div id = "pie1" style = "width: 100%;height: 400px;"></div>
                            </div>
                        </div>

                        <div class = "am-u-md-6">
                            <!-- 大数据面积图  -->
                            <div class = "am-card">
                                <div id = "Stack" style = "width: 100%;height: 400px;"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer class = "admin-content-footer am-footer-desktop am-footer-fixed">
            <hr>
            <p class = "am-padding-left" style = "text-align: center">© 2018 Biboliosoft Online Library System</p>
        </footer>

    </div>
    <!-- content end -->

</div>


<!--[if lt IE 9]>
<script src = "assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src = "assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src = "assets/js/amazeui.min.js"></script>
<script src = "assets/js/app.js"></script>
<script type = "text/javascript" src = "assets/js/charts/echarts.min.js"></script>
<script type = "text/javascript" src = "assets/js/test.js"></script>

<script th:inline = "javascript">
    //饼状图
    function date2str(x,y) {
        x1 = new Date(x);
        var z ={y:x1.getFullYear(),M:x1.getMonth()+1,d:x1.getDate(),h:x1.getHours(),m:x1.getMinutes(),s:x1.getSeconds()};
        return y.replace(/(y+|M+|d+|h+|m+|s+)/g,function(v) {return ((v.length>1?"0":"")+eval('z.'+v.slice(-1))).slice(-(v.length>2?v.length:2))});
    }
    console.log([[${dayBorrowReturns}]]);
    var data = [[${dayBorrowReturns}]];
    console.log(date2str(data[0].date,"yyyy-MM-dd"));
    (function(){

        var pie1 = echarts.init(document.getElementById("pie1"));


        option = {
            title : {
                text: 'Book Information',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['Available/可使用','Reserved/被预约','Borrowed/被借出']
            },
            series : [
                {
                    name: '图书情况',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:[
                        {value:[[${availableNumber}]], name:'Available/可使用'},
                        {value:[[${reserveNumber}]], name:'Reserved/被预约'},
                        {value:[[${borrowedNumber}]], name:'Borrowed/被借出'}
                        // {value:0,name:'可使用'},
                        // {value:0,name:'被预约'},
                        // {value:0,name:'被借出'}
                    ],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        pie1.setOption(option);
    })();

    (function(){

        var myChart = echarts.init(document.getElementById("Stack"));

        option = {
            title: {
                text: 'Borrow/Return'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['Borrow','Return']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: [date2str(data[0].date,"MM-dd"),
                    date2str(data[1].date,"MM-dd"),
                    date2str(data[2].date,"MM-dd"),
                    date2str(data[3].date,"MM-dd"),
                    date2str(data[4].date,"MM-dd"),
                    date2str(data[5].date,"MM-dd"),
                    date2str(data[6].date,"MM-dd")]
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'Borrow',
                    type:'line',
                    stack: '总量1',
                    data:[data[0].borrowNumber, data[1].borrowNumber, data[2].borrowNumber, data[3].borrowNumber, data[4].borrowNumber, data[5].borrowNumber, data[6].borrowNumber]
                },
                {
                    name:'Return',
                    type:'line',
                    stack: '总量2',
                    data:[data[0].returnNumber, data[1].returnNumber, data[2].returnNumber, data[3].returnNumber, data[4].returnNumber, data[5].returnNumber, data[6].returnNumber]
                }
            ]
        };

        myChart.setOption(option);
    })();
</script>
<script type = "text/javascript">
    $("#change").click(function () {
        translate();
    })
</script>

</body>
</html>