<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns = "http://www.w3.org/1999/html">
<head>
    <meta charset = "UTF-8">
    <title>BiblioSoft</title>
    <link rel = "icon" type = "image/png" href = "assets/i/favicon.png">
    <link rel = "apple-touch-icon-precomposed" href = "assets/i/app-icon72x72@2x.png">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <link rel = "stylesheet" href = "assets/css/admin.css">
    <link rel = "stylesheet" href = "//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <style>
        .am-table {

        }

        .am-topbar {
            /*background-color: black;*/
        }

        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }
    </style>
</head>
<body>
<header class = "am-topbar am-topbar-inverse admin-header">
    <h1 class = "am-topbar-brand ">
        <a href = "#" class = "am-text-ir">BiblioSoft</a>
    </h1>

    <button class = "am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse = "{target: '#doc-topbar-collapse'}"><span class = "am-sr-only">导航切换</span> <span
            class = "am-icon-bars"></span></button>

    <div class = "am-collapse am-topbar-collapse" id = "doc-topbar-collapse">
        <ul class = "am-nav am-nav-pills am-topbar-nav">
            <li class = "am-active"><a href = "#">首页</a></li>
            <li><a href = "#">项目</a></li>
            <li class = "am-dropdown" data-am-dropdown>
                <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                    下拉 <span class = "am-icon-caret-down"></span>
                </a>
                <ul class = "am-dropdown-content">
                    <li class = "am-dropdown-header">标题</li>
                    <li><a href = "#">1. 去月球</a></li>
                    <li class = "am-active"><a href = "#">2. 去火星</a></li>
                    <li><a href = "#">3. 还是回地球</a></li>
                    <li class = "am-disabled"><a href = "#">4. 下地狱</a></li>
                    <li class = "am-divider"></li>
                    <li><a href = "#">5. 桥头一回首</a></li>
                </ul>
            </li>
        </ul>

        <form class = "am-topbar-form am-topbar-left am-form-inline" role = "search">
            <div class = "am-form-group">
                <input type = "text" class = "am-form-field am-input-sm" placeholder = "搜索">
            </div>
        </form>

        <div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">

            <ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

                <li><a href = "javascript:;">
                    <button id = "change" class = "am-btn am-btn-primary am-btn-sm">中文/英文</button>
                </a></li>

                <li class = "am-dropdown" data-am-dropdown>
                    <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                        <a th:href = "@{/logout}">注销</a>
                    </a>

                </li>

            </ul>
        </div>

    </div>
</header>

<div class = "am-cf admin-main">
    <!-- sidebar start -->
    <div class = "admin-sidebar am-offcanvas" id = "admin-offcanvas">
        <div class = "am-offcanvas-bar admin-offcanvas-bar">
            <div class = "user-info">
                <img class = "am-img-circle am-img-thumbnail am-center" width = "200" height = "200"
                     th:src = "${avatarPath}"
                     alt = ""/>
                <p style = "text-align: center" th:text = "${username}">纯洁神王</p>
            </div>

            <ul class = "am-list admin-sidebar-list">
                <li><a href = "librarian_homepage"><span class = "am-icon-home"></span> 首页</a></li>
                <li><a href = "librarian_user" class = "am-cf"><span class = "am-icon-check"></span> 个人资料<span
                        class = "am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav'}"><span
                            class = "am-icon-file"></span> 管理图书 <span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav">
                        <li><a href = "librarian_borrow"><span class = "am-icon-leaf"></span> 借阅</a></li>
                        <li><a href = "librarian_return"><span class = "am-icon-mail-reply"></span> 归还</a></li>
                        <li><a href = "librarian_table"><span class = "am-icon-book"></span> 管理图书</a></li>
                        <li><a href = "librarian_deletebookhistory"><span class = "am-icon-trash"> 删除记录</span></a></li>
                        </li>
                    </ul>
                </li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav2'}"><span
                            class = "am-icon-user"></span> 管理读者 <span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav2">
                        <li><a href = "librarian_addreader"><span class = "am-icon-user-plus"></span> 增加读者</a></li>
                        <li><a href = "librarian_managereader"><span class = "am-icon-pencil"></span> 管理读者</a></li>
                    </ul>
                </li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav3'}"><span
                            class = "am-icon-table"></span> 记录 <span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav3">
                        <li><a href = "librarian_record"><span class = "am-icon-book"></span> 预约记录</a></li>
                        <li><a href = "librarian_history"><span class = "am-icon-book"></span> 借阅记录</a></li>
                        <li><a href = "librarian_income"><span class = "am-icon-money"></span> 收入记录 </a></li>
                        <li><a href = "librarian_fine"><span class = "am-icon-bolt"></span> 罚金记录</a></li>
                    </ul>
                </li>
                <li><a href = "librarian_announce"><span class = "am-icon-comment"></span> 发布公告</a></li>
            </ul>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-bookmark"></span> 公告</p>
                    <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
                </div>
            </div>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-tag"></span> wiki</p>
                    <p>Welcome to the Amaze UI wiki!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->
    <div class = "admin-content">
        <div class = "admin-content-body">
            <div class = "am-cf am-padding am-padding-bottom-0">
                <div class = "am-fl am-cf"><strong class = "am-text-primary am-text-lg">书本清单</strong> /
                    <small>BookList</small>
                </div>
            </div>

            <hr>

            <div class = "am-g">
                <div class = "am-u-sm-12 am-u-md-6">
                    <div class = "am-btn-toolbar">
                        <div class = "am-btn-group am-btn-group-xs">
                            <button type = "button" class = "am-btn am-btn-default" id = "add_announce"><span
                                    class = "am-icon-plus"></span> 新增
                            </button>
                        </div>
                    </div>
                </div>

                <div class = "am-u-sm-12 am-u-md-3">

                </div>
            </div>

            <div class = "am-g">
                <div class = "am-u-sm-12">
                    <table class = "am-table am-table-striped am-table-hover am-table-compact " id = "announce">
                        <thead>
                        <tr>
                            <th class = "table-id">ID</th>
                            <th class = "table-title">标题</th>
                            <th class = "table-librarian">管理员</th>
                            <th class = "table-author am-hide-sm-only">内容</th>
                            <th class = "table-set">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "announce:${set}">
                            <td th:text = "${announce.id}"></td>
                            <td><a th:text = "${announce.title}" th:href = "@{librarian_announce(id=${announce.id})}"
                                   <!--th:onclick = "modify(${announce.id},${announce.title},${announce.content})"-->></a></td>
                            <td th:text = "${announce.username}"></td>
                            <td class = "am-hide-sm-only" th:text = "${announce.content}"></td>
                            <td>
                                <div class = "am-btn-toolbar">
                                    <div class = "am-btn-group am-btn-group-xs">
                                        <button class = "am-btn am-btn-default am-btn-xs am-text-secondary"><a
                                                th:href = "@{deletebook(id=${bunit.id},start=${page.number})}"
                                                class = "am-icon-close">删除</a>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

        <footer class = "admin-content-footer">
            <hr>
            <p class = "am-padding-left" style = "text-align: center">© 2018 Biboliosoft Online Library System</p>
        </footer>

        <div class = "am-modal am-modal-prompt" tabindex = "-1" id = "my-prompt1">
            <div class = "am-modal-dialog">
                <div class = "am-modal-hd">添加图书</div>
                <form class = "am-modal-bd am-form am-form-horizontal" method = "post" action = "addAnnouncement"
                      enctype = "multipart/form-data">
                    <div class = "am-form-group">
                        <label for = "title" class = "am-u-sm-3 am-form-label">标题</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "title" placeholder = "标题 / Title" name = "title">
                        </div>
                    </div>


                    <div class = "am-form-group">
                        <label for = "content" class = "am-u-sm-3 am-form-label">内容</label>
                        <div class = "am-u-sm-9">
                            <!--<input type = "text" id = "content" placeholder = "内容 / Content" name = "brief">-->
                            <textarea id = "content" placeholder = "内容 / Content" name = "content" cols = "10" rows = "3">
                            </textarea>
                        </div>
                    </div>


                    <div class = "am-modal-footer am-g">
                        <div class = "am-u-sm-7 am-u-sm-push-2 am-u-end">
                            <input type = "submit" data-am-modal-confirm value = "确认/confirm"
                                   class = "am-btn am-btn-primary"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class = "am-modal am-modal-prompt" tabindex = "-1" id = "my-prompt2">
            <div class = "am-modal-dialog">
                <div class = "am-modal-hd">添加图书</div>
                <form class = "am-modal-bd am-form am-form-horizontal" method = "post" action = "addbook"
                      enctype = "multipart/form-data">
                    <div class = "am-form-group">
                        <label for = "id" class = "am-u-sm-3 am-form-label" readonly = "readonly">ID</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "id2" placeholder = "id" name = "">
                        </div>
                    </div>


                    <div class = "am-form-group">
                        <label for = "title" class = "am-u-sm-3 am-form-label">标题</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "title2" placeholder = "标题 / Title" name = "title">
                        </div>
                    </div>


                    <div class = "am-form-group">
                        <label for = "content" class = "am-u-sm-3 am-form-label">内容</label>
                        <div class = "am-u-sm-9">
                            <!--<input type = "text" id = "content" placeholder = "内容 / Content" name = "brief">-->
                            <textarea id = "content2" placeholder = "内容 / Content" name = "brief" cols = "10"
                                      rows = "3">
                            </textarea>
                        </div>
                    </div>


                    <div class = "am-modal-footer am-g">
                        <div class = "am-u-sm-7 am-u-sm-push-2 am-u-end">
                            <input type = "submit" data-am-modal-confirm value = "确认/confirm"
                                   class = "am-btn am-btn-primary"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- content end -->

</div>


<!--[if lt IE 9]>
<script src = "http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src = "http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src = "assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<script th:inline = "javascript" src = "assets/js/jquery.min.js"></script>


<script th:inline = "javascript" src = "dist/amazeui.datatables.js"></script>
<script src = "assets/js/amazeui.min.js"></script>
<script src = "assets/js/app.js"></script>

<script>
    $(function () {
        $('#add_announce').on('click', function () {
            $('#my-prompt1').modal({
                relatedTarget: this,
                onConfirm: function (e) {
                    alert('创建成功')
                },
                onCancel: function (e) {

                }
            });
        });
    });
</script>
<script th:inline = "javascript">
    function modify(id, title, content) {
        $('#my-prompt2').modal(
            {
                relatedTarget: this
            }
        );
        $('#id2').attr("value", id);
        $('#title2').attr("value", title);
        $('#content2').attr("value", content);
    }
</script>
<script type = "text/javascript" src = "assets/js/test.js"></script>
<script th:inline = "javascript" src = "dist/amazeui.datatables.js"></script>
<script>
    $(function () {
        $('#announce').DataTable(
            {
                "ordering": false,
                "bLengthChange": false,
            }
        );
    })
</script>

<script type = "text/javascript">
    $("#change").click(function () {
        translate();
    })
</script>

</body>
</html>