<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset = "UTF-8">
    <title>BiblioSoft</title>
    <link rel = "icon" type = "image/png" href = "assets/i/favicon.png">
    <link rel = "apple-touch-icon-precomposed" href = "assets/i/app-icon72x72@2x.png">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <link rel = "stylesheet" href = "assets/css/admin.css">
    <link rel = "stylesheet" href = "dist/amazeui.datatables.min.css">
    <style>
        .am-table {

        }

        .am-topbar {
            /*background-color: black;*/
        }

        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }
    </style>
</head>
<body>
<header class = "am-topbar am-topbar-inverse admin-header">
    <h1 class = "am-topbar-brand ">
        <a href = "#" class = "am-text-ir">BiblioSoft</a>
    </h1>


    <div class = "am-collapse am-topbar-collapse" id = "doc-topbar-collapse">

        <div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">

            <ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        <span th:text="#{lan44}">语言</span> <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="changeSessionLanguage?lang=zh&page=librarian_fine">中文</a></li>
                        <li><a href="changeSessionLanguage?lang=en&page=librarian_fine">ENGLISH</a></li>
                    </ul>
                </li>

                <li class = "am-dropdown" data-am-dropdown>
                    <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                        <a th:href = "@{/logout}" th:text="#{lg_yxy}">注销</a>
                    </a>

                </li>

            </ul>
        </div>

    </div>
</header>

<div class = "am-cf admin-main">
    <!-- sidebar start -->
    <div class = "admin-sidebar am-offcanvas" id = "admin-offcanvas">
        <div class = "am-offcanvas-bar admin-offcanvas-bar">
            <div class = "user-info">
                <img class = "am-img-circle am-img-thumbnail am-center" width="200" height="200"
                     th:src= "${avatarPath}"
                     alt = ""/>
                <p style = "text-align: center" th:text="${username}">纯洁神王</p>
            </div>

            <ul class = "am-list admin-sidebar-list">
                <li><a href = "librarian_homepage"><span class = "am-icon-home"></span><span th:text="#{ho_yxy}"> 首页</span></a></li>
                <li><a href = "librarian_user" class = "am-cf"><span class = "am-icon-check"></span><span th:text="#{pd_yxy}"> 个人资料</span><span
                        class = "am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                <li><a href = "password_change"><span class = "am-icon-eraser"></span><span th:text="#{cp_yxy}"> 修改密码</span></a></li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav'}"><span
                            class = "am-icon-file"></span><span th:text="#{mb_yxy}"> 管理图书</span> <span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav">
                        <li><a href = "librarian_borrow"><span class = "am-icon-leaf"></span><span th:text="#{bo_yxy}"> 借阅</span></a></li>
                        <li><a href = "librarian_return"><span class = "am-icon-mail-reply"></span><span th:text="#{re_yxy}"> 归还</span></a></li>
                        <li><a href = "librarian_table"><span class = "am-icon-book"></span><span th:text="#{mb_yxy}"> 管理图书</span></a></li>
                        <li><a href = "librarian_deletebookhistory"><span class = "am-icon-trash"><span th:text="#{dr_yxy}"> 删除记录</span></span></a></li>
                        </li>
                    </ul>
                </li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav2'}"><span
                            class = "am-icon-user"></span><span th:text="#{mr_yxy}"> 管理读者 </span><span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav2">
                        <li><a href = "librarian_addreader"><span class = "am-icon-user-plus"></span><span th:text="#{ar_yxy}"> 增加读者</span></a></li>
                        <li><a href = "librarian_managereader"><span class = "am-icon-pencil"></span><span th:text="#{mr_yxy}"> 管理读者</span></a></li>
                    </ul>
                </li>
                <li class = "admin-parent">
                    <a class = "am-cf" data-am-collapse = "{target: '#collapse-nav3'}"><span
                            class = "am-icon-table"></span><span th:text="#{rec_yxy}"> 记录 </span><span
                            class = "am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class = "am-list am-collapse admin-sidebar-sub am-in" id = "collapse-nav3">
                        <li><a href = "librarian_record"><span class = "am-icon-book"></span><span th:text="#{rr_yxy}"> 预约记录</span></a></li>
                        <li><a href = "librarian_history"><span class = "am-icon-book"></span><span th:text="#{br_yxy}"> 借阅记录</span></a></li>
                        <li><a href = "librarian_income"><span class = "am-icon-money"></span><span th:text="#{ir_yxy}"> 收入记录 </span></a></li>
                        <!--<li><a href = "librarian_fine"><span class = "am-icon-bolt"></span><span th:text="#{fr_yxy}"> 罚金记录</span></a></li>-->
                    </ul>
                </li>
                <li><a href = "librarian_announce"><span class = "am-icon-comment"></span><span th:text="#{an_yxy}"> 发布公告</span></a></li>
            </ul>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-bookmark"></span><span th:text="#{no_yxy}"> 公告</span></p>
                    <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
                </div>
            </div>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-tag"></span> wiki</p>
                    <p>Welcome to the Amaze UI wiki!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->


    <div class = "admin-content">
        <div class = "admin-content-body">


            <div class = "am-cf am-padding am-padding-bottom-0">
                <div class = "am-fl am-cf"><strong class = "am-text-primary am-text-lg" th:text="#{ufine}">Unpaid Fine</strong> /
                </div>
            </div>

            <hr>


            <div class = "am-g am-g-fixed">
                <div class = "am-u-sm-8 ">
                    <div class = "am-input-group am-input-group-sm">
                        <a href="#" onclick="javascript:history.back(-1);" th:text="#{p_zj}">返回到上一页</a>
                    </div>
                </div>


            </div>

            <hr>

            <div class = "am-g" >
                <div class = "am-u-sm-12">
                    <table class = "am-table am-table-striped am-table-hover am-table-compact " id = "fine">
                        <thead>
                        <tr>
                            <th class = "table-id" th:text="#{id}">ID</th>
                            <th class = "table-uid" th:text="#{rid}">UID</th>
                            <th class = "table-isbn" th:text="#{username}">username</th>
                            <th class = "table-money " th:text="#{money}">Money</th>
                            <th class = "table-bid" th:text="#{bid}">bookID</th>
                            <th class = "table-style " th:text="#{category}">Type</th>
                            <th class = "table-date " th:text="#{date}">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "record:${set}" >
                            <td th:text = "${record.id}"></td>
                            <td ><a th:text = "${record.uid}" th:href="@{librarian_user(id=${record.uid})}"></a></td>
                            <td ><a th:text = "${record.username}" th:href="@{librarian_user(id=${record.uid})}"></a></td>
                            <td th:text = "${record.money}"></td>
                            <td  th:text = "${record.bkid}"></td>
                            <td  th:text = "${record.style}"></td>
                            <td  th:text = "${record.date}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <footer class = "admin-content-footer">
            <hr>
            <p class = "am-padding-left" style = "text-align: center">© 2018 Biboliosoft Online Library System</p>
        </footer>

    </div>
    <!-- content end -->
</div>


<!--[if lt IE 9]>
<script src = "http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src = "http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src = "assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src = "assets/js/jquery.min.js"></script>
<!--<![endif]-->


<script src = "dist/amazeui.datatables.min.js"></script>
<script src = "assets/js/amazeui.min.js"></script>
<script src = "assets/js/app.js"></script>
<script th:inline="javascript">
    $(function () {
        $('#fine').DataTable(
            {
                "ordering":false,
                "bLengthChange":false,
                language:{
                    "oPaginate": {
                        "sFirst": "First",
                        "sPrevious": [[#{p_zj}]],
                        "sNext": [[#{n_zj}]],
                        "sLast": "Last",
                    },
                    "sSearch": [[#{Search}]],
                    "sInfo": " _START_ - _END_ ，In _TOTAL_",
                    "sInfoEmpty": "0",
                    "sInfoFiltered": "(from _MAX_ )",
                }
            }
        );
    })
</script>


<script type = "text/javascript" src = "assets/js/test.js"></script>
<script type = "text/javascript">
    $("#change").click(function () {
        translate();
    })
</script>
</body>
</html>