<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset = "UTF-8">
    <title>BiblioSoft</title>
    <!--<link rel = "stylesheet" href = "assets/css/amazeui.min.css">-->
    <link rel = "stylesheet" href = "../../static/assets/css/amazeui.min.css">
    <script src = "http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <!--<link rel = "stylesheet" href = "//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">-->
    <style>
        .am-table {

        }

        .am-topbar {
            /*background-color: black;*/
        }

        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }
    </style>
</head>
<body>


<div class = "am-cf admin-main">

    <div class = "admin-content">
        <div class = "admin-content-body">
            <div class = "am-cf am-padding am-padding-bottom-0">
                <div class = "am-fl am-cf"><strong class = "am-text-primary am-text-lg" th:text="#{BookList_ysw}">书本清单</strong> /
                    <small>BookList</small>
                </div>
            </div>

            <hr>

            <div class = "am-g">
                <div class = "am-u-sm-12 am-u-md-6">
                    <div class = "am-btn-toolbar">
                        <div class = "am-btn-group am-btn-group-xs">
                            <button type = "button" class = "am-btn am-btn-default" id = "add-book" ><span
                                    class = "am-icon-plus"></span> <span th:text="#{ni_ysw}">新增</span>
                            </button>
                            <button type = "button" class = "am-btn am-btn-default" ><span
                                    class = "am-icon-trash-o"></span>  <span th:text="#{Delete}">删除</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class = "am-u-sm-12 am-u-md-3">

                </div>
            </div>


        </div>

        <footer class = "admin-content-footer">
            <hr>
            <p class = "am-padding-left" style = "text-align: center">© 2018 Biboliosoft Online Library System</p>
        </footer>

        <div class = "am-modal am-modal-prompt" tabindex = "-1" id = "my-prompt">
            <div class = "am-modal-dialog">
                <div class = "am-modal-hd" th:text="#{Addbook_ysw}">添加图书</div>
                <form class = "am-modal-bd am-form am-form-horizontal" method = "post" action = "addbook" enctype = "multipart/form-data">
                    <div class = "am-form-group">
                        <label for = "isbn" class = "am-u-sm-3 am-form-label">ISBN</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "isbn" placeholder = "ISBN" name = "isbn">
                        </div>
                    </div>


                    <div class = "am-form-group">
                        <label for = "title" class = "am-u-sm-3 am-form-label" th:text="#{btitle}">书名</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "title" placeholder = "Title" name = "title">
                        </div>
                    </div>


                    <div class = "am-form-group">
                        <label for = "author" class = "am-u-sm-3 am-form-label" th:text="#{au44}">作者</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "author" placeholder = "Author" name = "author">
                        </div>
                    </div>

                    <div class = "am-form-group">
                        <label for = "type" class = "am-u-sm-3 am-form-label" th:text="#{category}">类别</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "type" placeholder = "Type" name = "category">
                        </div>
                    </div>

                    <div class = "am-form-group">
                        <label for = "position" class = "am-u-sm-3 am-form-label" th:text="#{location}">位置</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "position" placeholder = "position" name = "position">
                        </div>
                    </div>

                    <div class = "am-form-group">
                        <label for = "publisher" class = "am-u-sm-3 am-form-label" th:text="#{publisher}">出版社</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "publisher" placeholder = "Publisher" name = "publisher">
                        </div>
                    </div>

                    <div class = "am-form-group ">
                        <label for = "publish_time" class = "am-u-sm-3 am-form-label" th:text="#{pubdate}">出版时间</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "publish_time" placeholder = "Publish Time"
                                   name = "publishDate">
                        </div>
                    </div>


                    <div class = "am-form-group">
                        <label for = "number" class = "am-u-sm-3 am-form-label" th:text="#{num}">数量</label>
                        <div class = "am-u-sm-9">
                            <select data-am-selected="{maxHeight: 100,btnWidth: '300px',btnSize: 'sm',}" id="number" name="number" typeof="number">
                                <script>
                                    for(var i=1;i<=100;i++){
                                        document.write("<option value='"+i+"'>"+i+"</option>");
                                    }
                                </script>
                            </select>
                        </div>
                    </div>

                    <div class = "am-form-group">
                        <label for = "abstract" class = "am-u-sm-3 am-form-label" th:text="#{brief}">简介</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "abstract" placeholder = "Abstract" name = "brief">
                        </div>
                    </div>

                    <div class = "am-form-group ">
                        <label for = "price" class = "am-u-sm-3 am-form-label" th:text="#{price}">价格</label>
                        <div class = "am-u-sm-9">
                            <input type = "text" id = "price" placeholder = "Price" name = "price">
                        </div>
                    </div>

                    <div class = "am-form-group am-hide">
                        <div class = "am-u-sm-9 ">
                            <input type="text"  id = "cover" class = "am-modal-prompt-input" name = "coverPath">
                        </div>
                    </div>


                    <div class = "am-modal-footer am-g">
                        <div class = "am-u-sm-7 am-u-sm-push-2 am-u-end">
                            <input type = "submit" data-am-modal-confirm th:value="#{submit}" class = "am-btn am-btn-primary"></div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- content end -->

</div>




<script>
    $(function () {
        $('#add-book').on('click', function () {
            $('#my-prompt').modal({
                relatedTarget: this,
                // onConfirm: function (e) {
                //     alert('创建成功')
                // },
                // onCancel: function (e) {
                //
                // }
            });
        });
    });
</script>



</body>
</html>

