<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>后台模板</title>
		<!--<link rel="stylesheet" href="assets/css/amazeui.css" />-->
		<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
		<!--<link rel="stylesheet" href="assets/css/core.css" />-->
		<!--<link rel="stylesheet" href="assets/css/menu.css" />-->
		<!--<link rel="stylesheet" href="assets/css/index.css" />-->
		<!--<link rel="stylesheet" href="assets/css/admin.css" />-->
		<!--<link rel="stylesheet" href="assets/css/page/typography.css" />-->
	</head>
	<body>
		<!-- Begin page -->

		<!-- end page -->
		
		
		<div class="admin-content">
			<!--<div class="am-g">-->
		<!-- ========== Left Sidebar Start ========== -->
		<!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
				<div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
                  <!-- sidebar start -->

				  <!-- sidebar end -->
    
				<!--</div>
			</div>
		</div>-->
		<!-- ========== Left Sidebar end ========== -->
		
		
		
	<!--	<div class="am-g">-->
		<!-- ============================================================== -->
		<!-- Start right Content here -->
			<div class="admin-content">
				<div class="admin-content-body">
					<div class="am-cf am-padding am-padding-bottom-0">
						<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">主页</strong> </div>
					</div>

					<hr/>

					<div class="content-page">
						<!-- Start content -->
						<div class="content">
							<div class="am-g">
								<div class="am-u-md-6" >
									<!-- 折线图堆叠 -->
									<div class="card-box">
										<div  id="pie1" style="width: 100%;height: 400px;"></div>
									</div>
								</div>

								<div class="am-u-md-6">
									<!-- 堆叠区域图  -->
									<div class="card-box">
										<div  id="pie2" style="width: 100%;height: 400px;"></div>
									</div>
								</div>
							</div>

							<div class="am-g">
								<div class="am-u-md-6">
									<!-- Step Line -->
									<div class="card-box">
										<div  id="pie3" style="width: 100%;height: 400px;"></div>
									</div>
								</div>

								<div class="am-u-md-6">
									<!-- 大数据面积图  -->
									<div class="am-card">
										<div  id="pie4" style="width: 100%;height: 400px;"></div>
									</div>
								</div>
							</div>
							<div class="am-g">
								<div class="am-u-md-6 am-u-end">
									<div class="card-box">
										<div id="pie5" style="width: 100%;height: 400px">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<footer class="admin-content-footer">
					<hr>
					<p class="am-padding-left" style="text-align: center">© 2018 Biboliosoft Online Library System</p>
				</footer>

			</div>
		<!-- end right Content here -->
		<!--</div>-->
		</div>
		</div>
		
		<!-- navbar -->
		<!--<a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">&lt;!&ndash;<i class="fa fa-bars" aria-hidden="true"></i>&ndash;&gt;</a>-->
		
		<script type="text/javascript" src="assets/js/jquery-2.1.0.js" ></script>
		<script type="text/javascript" src="assets/js/amazeui.min.js"></script>
		<script type="text/javascript" src="assets/js/app.js" ></script>
		<script type="text/javascript" src="assets/js/blockUI.js" ></script>
		<script type="text/javascript" src="assets/js/charts/echarts.min.js" ></script>
		<script type="text/javascript" src="assets/js/charts/pieChart.js" ></script>
	</body>
	
</html>
