<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Login Page | Amaze UI Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }

    .am-topbar .am-text-ir {
        display: block;
        margin-right: 10px;
        height: 50px;
        width: 125px;
        background: url(assets/i/logo.jpg) no-repeat left center;
        -webkit-background-size: 125px 24px;
        background-size: 125px 24px;
    }

  </style>
</head>
	
 <header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand" >
      <a href = "/visitor-main" class = "am-text-ir" >BiblioSoft</a>
  </div>


  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
		
      <li><a href="javascript:;"> <button id="change" class="am-btn am-btn-primary am-btn-sm">中文/英文</button> </a></li>
		<!--
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
           登录 
        </a>
        
      </li>
     <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
         	<a href="./register.html">注册</a> 
        </a>
        
      </li>
		-->
    </ul>
  </div>
	<script type="text/javascript" >
	$("#change").click(function(){
		translate();
	})
	</script>
	
	
</header>
	
<body>
<div class="header">

  <hr />
</div>

<div class="am-g">

  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">

    <div  style="text-align: center" class="am-text-primary am-text-lg"><h2>忘记密码</h2></div>
    <hr>
    <br>

    <form method="post" class="am-form">
      <label for="email">验证码:</label>
      <input type="email" name="" id="email" value="">
		<br>
	  <input type="submit" name="" value="获得验证码/verification code" class="am-btn am-btn-primary am-btn-sm am-fl">
      <br><br>
      <label for="password">新密码:</label>
      <input type="password" name="" id="password" value="">
      <br>

      <div class="am-cf">
        <input type="submit" name="" value="确定修改/confirm modification" class="am-btn am-btn-primary am-btn-sm am-fl">	

		
      </div>
    </form>
    <hr>

  </div>
</div>
	
<script type="text/javascript" color="50,177,108" opacity="1" zIndex="-1" count="100" src="https://www.laomoit.com/wp-content/themes/pc/js/line.js"></script>

<script src="assets/js/my.js"></script>
</body>
</html>
