<!--
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="assets/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/demo.css" />
	&lt;!&ndash;必要样式&ndash;&gt;
	<link rel="stylesheet" type="text/css" href="assets/css/component.css" />
	&lt;!&ndash;[if IE]>
	<script src="assets/js/html5.js"></script>
	<![endif]&ndash;&gt;
</head>
<body>

<div class="container demo-1">
	<div class="content">
		<div id="large-header" class="large-header">
			<canvas id="demo-canvas"></canvas>
			<div class="logo_box">
				<h3>welcom you</h3>
				<form action="/login"  method="post" >
					<div class="input_outer">
						<span class="u_user"></span>
						<input name="username" class="text"  id="username" style="color: #FFFFFF !important" type="text" placeholder="please input username">
					</div>
					<div class="input_outer">
						<span class="us_uer"></span>
						<input name="password" class="text"  autocomplete="new-password" id="password" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="please input password">
					</div>
					<div class="mb2">
						<input type="submit" class="act-but submit" href="javascript:;" style="color: #FFFFFF" value="login">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>&lt;!&ndash; /container &ndash;&gt;

<script src="assets/js/TweenLite.min.js"></script>
<script src="assets/js/EasePack.min.js"></script>
<script src="assets/js/rAF.js"></script>
<script src="assets/js/demo-1.js"></script>
<div style="text-align:center;">
	<p>图书管理系统</p>
</div>
</body>
</html>-->

<!--<!DOCTYPE html>
<html>
<head lang = "en">
	<meta charset = "UTF-8">
	<title>登录</title>
	<meta http-equiv = "X-UA-Compatible" content = "IE=edge">
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<meta name = "format-detection" content = "telephone=no">
	<meta name = "renderer" content = "webkit">
	<meta http-equiv = "Cache-Control" content = "no-siteapp"/>
	<link rel = "icon" type = "image/jpg" href = "/assets/i/head_logo.jpg">
	<link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
	<script src = "http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	&lt;!&ndash;<script src = "https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>&ndash;&gt;
	<style type="text/css">
		.header {
			text-align: center;
		}

		.header h1 {
			font-size: 200%;
			color: #333;
			margin-top: 30px;
		}

		.header p {
			font-size: 14px;
		}

		.am-topbar .am-text-ir {
			display: block;
			margin-right: 10px;
			height: 50px;
			width: 125px;
			background: url(assets/i/logo.jpg) no-repeat left center;
			-webkit-background-size: 125px 24px;
			background-size: 125px 24px;
		}

		.mystyle{
			/*position: absolute;
			margin-top: 60px;
			margin-left: 650px;*/
            text-align: center;
		}
	</style>
</head>
<header class = "am-topbar am-topbar-inverse admin-header">

	<div class = "am-topbar-brand">
		<a href = "/visitor-main"  class = "am-text-ir">BiblioSoft</a>
	</div>
	<div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">
		<ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
			<li><a href = "javascript:;">
				<button id = "change" class = "am-btn am-btn-primary am-btn-sm">中文/英文</button>
			</a></li>
		</ul>
	</div>
</header>
<body>
<hr>
<div class = "am-g">
	<div style = "text-align: center" class = "am-text-primary am-text-lg"><h2>登录</h2></div>
	<hr>
	<br>
	<form method = "post" class="mystyle" name="myform" action="/login">
		<label for = "username" >用户名:</label>
		<input name = "username" size="width:250px;" id = "username" value = "" >
		<br><br>
		<label for = "password" >密&nbsp&nbsp&nbsp码:</label>
		<input type = "password"  size="width:250px;"  autocomplete="new-password"  name = "password" id = "password" value = "">
		<br><br>
		<div class = "am-cf">
			<input type = "submit" name = ""  id="loginbun" onclick="shake(); return validateForm();" value = "登 录/login" class = "am-btn am-btn-primary am-btn-sm  ">
			<br><br><br>
			<a>忘记密码&nbsp</a>
		</div>
	</form>
</div>
<br><br><br><br><br><br><br><br>
<footer class = "admin-content-footer">
    <hr>
    <p class = "am-padding-left" style = "text-align: center">© 2018 Biboliosoft Online Library System</p>
</footer>


<script type="text/javascript">
	function shake() {
	    var classval=document.getElementById("loginbun").getAttribute("class");
	    classval=classval.concat(" am-animation-shake");
		document.getElementById("loginbun").setAttribute("class",classval);
    }
    function validateForm() {
        var x=document.forms["myform"]["username"].value;
        if(x==null || x==""){
            alert("please input username");
            return false;
        }
        var y=document.forms["myform"]["password"].value;
        if(y==null || y==""){
            alert("please input password");
            return false;
        }
    }
</script>

<script type = "text/javascript" color = "50,177,108" opacity = "1" zIndex = "-1" count = "100"
		src = "https://www.laomoit.com/wp-content/themes/pc/js/line.js"></script>
<script type = "text/javascript">
    $("#change").click(function () {
        translate();
    })
</script>
<script src = "assets/js/my.js"></script>
</body>
</html>-->


<!--新的登录界面-->

<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/supersized.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel = "icon" type = "image/jpg" href = "/assets/i/head_logo.jpg">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <script src = "http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style type="text/css">
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }

        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }

        .mystyle{
            /*position: absolute;
            margin-top: 60px;
            margin-left: 650px;*/
            text-align: center;
        }
    </style>
</head>
<body>

<div class="page-container">
    <div class = "am-g">
        <div style = "text-align: center" class = "am-text-primary am-text-lg"><h2>LOGIN</h2></div>
        <br>
        <form method = "post" class="mystyle" name="myform" action="/login">
            <label for = "username" th:text="#{username}">username:</label>
            <input name = "username" size="width:250px;" id = "username" value = "" required/>
            <br><br>
            <label for = "password" th:text="#{password_ysw}" >password:</label>
            <input type = "password"  size="width:250px;"  autocomplete="new-password"  name = "password" id = "password" value = "" required/>
            <br><br>
            <div class = "am-cf">
                <input type = "submit" name = ""  id="loginbun" onclick="shake(); " th:value = "#{lo_yxy}" class = "am-btn am-btn-primary am-btn-sm btn-loading-example " >
                <br><br><br>
                <a href="/forget_password" th:text="#{fp44}">forget password</a>&nbsp;&nbsp;&nbsp;<a href="/visitor-main" th:text="#{bth44}">back to homepage</a>
            </div>
        </form>
    </div>
</div>
<br><br><br>
<footer class = "admin-content-footer">
    <p class = "am-padding-left" style = "text-align: center">© 2018 Biboliosoft Online Library System</p>
</footer>

<script type="text/javascript">
    function shake() {
        var classval=document.getElementById("loginbun").getAttribute("class");
        classval=classval.concat(" am-animation-shake");
        document.getElementById("loginbun").setAttribute("class",classval);
    }
    function validateForm() {
        var x=document.forms["myform"]["username"].value;
        if(x==null || x==""){
            alert("please input username");
            return false;
        }
        var y=document.forms["myform"]["password"].value;
        if(y==null || y==""){
            alert("please input password");
            return false;
        }
    }
</script>
<script src="assets/js/jquery-1.8.2.min.js"></script>
<script src="assets/js/supersized.3.2.7.min.js"></script>
<script src="assets/js/supersized-init.js"></script>
<script src = "assets/js/my.js"></script>
</body>

</html>



