<!doctype html>
<html class = "no-js">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <title>注册</title>
    <meta name = "description" content = "这是一个 user 页面">
    <meta name = "keywords" content = "user">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <meta name = "renderer" content = "webkit">
    <meta http-equiv = "Cache-Control" content = "no-siteapp"/>
    <link rel = "icon" type = "image/png" href = "assets/i/favicon.png">
    <link rel = "apple-touch-icon-precomposed" href = "assets/i/app-icon72x72@2x.png">
    <meta name = "apple-mobile-web-app-title" content = "Amaze UI"/>
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <link rel = "stylesheet" href = "assets/css/admin.css">
    <script src = "http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
   <!-- <script src = "https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script> -->

    <style>
        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }
    </style>
</head>
<body>

<!--[if lte IE 9]>
<p class = "browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href = "http://browsehappy.com/"
                                                                          target = "_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class = "am-topbar am-topbar-inverse admin-header">
    <div class = "am-topbar-brand">
        <a href = "/visitor-main" class = "am-text-ir">BiblioSoft</a>
    </div>


    <div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">

        <ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

            <li><a href = "javascript:;">
                <button id = "change" class = "am-btn am-btn-primary am-btn-sm">中文/英文</button>
            </a></li>
            <!--
          <li class="am-dropdown" data-am-dropdown>
            <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
               登录
            </a>

          </li>
         <li class="am-dropdown" data-am-dropdown>
            <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                 注册
            </a>

          </li>
            -->
        </ul>
    </div>
    <script type = "text/javascript">
        $("#change").click(function () {
            translate();
        })
    </script>


</header>

<div class = "am-cf admin-main">


    <!-- content start -->
    <div class = "admin-content">
        <div class = "admin-content-body">
            <hr>
            <div style = "text-align: center" class = "am-text-primary am-text-lg"><h2>注册</h2></div>
            <hr>

                <div class = "am-u-sm-12 am-u-md-8 am-u-md-push-2">
                    <form class = "am-form am-form-horizontal" action="/reader/register" method="post">
                        <div class = "am-form-group">
                            <label for = "user-name" class = "am-u-sm-3 am-form-label">用户名 / Username</label>
                            <div class = "am-u-sm-9">
                                <input type = "text" id = "user-name" placeholder = "用户名 / Username" name="username">
                                <small>输入你的名字，让我们记住你。</small>
                            </div>
                        </div>

                        <div class = "am-form-group">
                            <label for = "user-email" class = "am-u-sm-3 am-form-label">电子邮件 / Email</label>
                            <div class = "am-u-sm-9">
                                <input type = "email" id = "user-email" placeholder = "输入你的电子邮件 / Email" name="email">
                                <small>邮箱你懂得...</small>
                            </div>
                        </div>

                        <div class = "am-form-group">
                            <label for = "password" class = "am-u-sm-3 am-form-label">密码 / Password</label>
                            <div class = "am-u-sm-9">
                                <input type = "password" id = "password" placeholder = "输入你的密码 / Password" name="password">
                            </div>
                        </div>


                        <div class = "am-form-group">
                            <div class = "am-u-sm-9 am-u-sm-push-3">
                                <input type = "submit" class = "am-btn am-btn-primary" value="注册/register">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <footer class = "admin-content-footer">
            <hr>
            <p class = "am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
        </footer>

    </div>
    <!-- content end -->

</div>

<a href = "#" class = "am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas = "{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class = "am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<script type = "text/javascript" color = "50,177,108" opacity = "1" zIndex = "-1" count = "100"
        src = "static/assets/js/bg.js"></script>

<!--[if lt IE 9]>
<script src = "http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src = "http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src = "assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<script src = "../static/assets/js/my.js"></script>-->
<script src = "assets/js/my.js"></script>
<script src = "../static/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src = "../static/assets/js/amazeui.min.js"></script>
<script src = "../static/assets/js/app.js"></script>





</body>
</html>
