<!doctype html>
<html class = "no-js" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset = "utf-8">
    <meta name = "referrer" content = "no-referrer"/>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "description" content = "">
    <meta name = "keywords" content = "">
    <meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Bibliosoft</title>
    <meta name = "renderer" content = "webkit">
    <meta http-equiv = "Cache-Control" content = "no-siteapp"/>
    <link rel = "icon" type = "image/jpg" href = "assets/i/head_logo.jpg">
    <meta name = "mobile-web-app-capable" content = "yes">
    <link rel = "icon" sizes = "192x192" href = "assets/i/app-icon72x72@2x.png">
    <meta name = "apple-mobile-web-app-capable" content = "yes">
    <meta name = "apple-mobile-web-app-status-bar-style" content = "black">
    <meta name = "apple-mobile-web-app-title" content = "Amaze UI"/>
    <link rel = "apple-touch-icon-precomposed" href = "assets/i/app-icon72x72@2x.png">
    <meta name = "msapplication-TileColor" content = "#0e90d2">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css">
    <link rel = "stylesheet" href = "assets/css/app.css">
    <link rel = "stylesheet" href = "assets/css/admin.css">
    <script src = "http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>

    <style>
        /*body {*/
            /*background: #f8f8f8;*/
            /*!*background: url(assets/img/library.jpg) no-repeat;*!*/
            /*!*background-size:100%;*!*/
            /*!*opacity:0.5;*!*/
            /*font-family: 'PT Sans', Helvetica, Arial, sans-serif;*/
            /*text-align: center;*/
            /*color: #3299cc;*/
        /*}*/
        .am-form-group {
            text-align: left;
        }

        .am-topbar {
            /*background-color: black;*/
        }

        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }
    </style>
</head>

<body id = "blog">

<header class = "am-topbar am-topbar-inverse admin-header">
    <h1 class = "am-topbar-brand ">
        <a href = "#" class = "am-text-ir">BiblioSoft</a>
    </h1>


    <div class = "am-collapse am-topbar-collapse" id = "doc-topbar-collapse">
        <!--<ul class = "am-nav am-nav-pills am-topbar-nav">-->
            <!--<li><a href = "/visitor-main" th:text="#{shouye44}">首页</a></li>-->
        <!--</ul>-->

        <div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">
            <ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

                <li> <a href = "/login" th:text = "#{lo_yxy}">登录</a></li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        <span th:text="#{lan44}">语言</span> <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href = "changeSessionLanguage1?lang=zh&page=visitor-main">中文</a></li>
                        <li><a href = "changeSessionLanguage1?lang=en&page=visitor-main">ENGLISH</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- banner start -->
<div class = "am-g am-g-fixed blog-fixed am-u-sm-centered blog-article-margin">
    <div data-am-widget = "slider" class = "am-slider am-slider-b1" data-am-slider = '{&quot;controlNav&quot;:false}'>
        <ul class = "am-slides">
            <li th:each="notice:${page4}">
                <img src = "assets/i/b1.jpg">
                <div class = "blog-slider-desc am-slider-desc ">
                    <div class = "blog-text-center blog-slider-con">
                        <span><p class = "am-text-secondary am-text-xl"><span
                                th:text = "#{no_yxy}" >公告</span></p></span>
                        <h1 class = "blog-h-margin"><a th:href="@{Notice(id=${notice.id})}" th:text="${notice.title}"></a></h1>
                        <p th:text="${#strings.abbreviate(#strings.trim(notice.content),20)}"></p>
                        <span class="blog-bor" th:text="${#dates.format(notice.date, 'yyyy-MM-dd')}"></span>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<br>
<div class = "am-g am-padding">
    <div class = "am-u-sm-12 am-u-md-6 am-u-md-centered">
        <div class = "am-input-group am-input-group-sm">
            <input name = "string" id = "string" type = "text" class = "am-form-field am-radius" required>
            <span class = "am-input-group-btn">
                            <button class = "am-btn am-btn-default am-icon-search am-radius am-btn-primary"
                                    onclick = "getOnePageBook4_1()"
                                    type = "button"><span th:text = "#{search_ysw}">搜索</span></button>
                        </span>
        </div>
    </div>
</div>

<div class = "am-g"style=" height: 200px;">
    <div class = "am-u-sm-12">
        <div class = "am-cf am-padding" id = "recom-book" style="display: none">
            <div class = "am-fl am-cf"><strong class = "am-text-primary am-text-xxl" th:text = "#{sr_yxy}"></strong>
            </div>
        </div>
        <form class = "am-form">
            <ul data-am-widget = "gallery" id = "all-books" class = "am-gallery am-avg-sm-2
          am-avg-md-4 am-avg-lg-6 am-gallery-bordered" data-am-gallery = "{  }">
                <!--<li th:each = "book:${page}">-->
                    <!--<div class = "am-gallery-item">-->
                        <!--<a th:href = "@{book_details(isbn=${book.isbn})}" class = "">-->
                            <!--<img th:src = "${book.coverPath}" height = "326"/>-->
                            <!--<h3 th:text = "${book.title}" class = "am-gallery-title"></h3>-->
                            <!--<div class = "am-gallery-desc"><span th:text = "#{remain44} + '&nbsp'">剩余：</span><strong-->
                                    <!--th:text = "${book.number}"></strong><span th:text = "'&nbsp' + #{books44}">本</span></div>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</li>-->

            </ul>
            <br>
            <div class = "am-cf" id = "table-paging">
                <!--<span th:text = "#{total44}">共</span> [[${page.totalElements}]] <span-->
                    <!--th:text = "#{records44}">条记录</span>-->
                <!--<div class = "am-fr">-->
                    <!--<ul class = "am-pagination">-->
                        <!--<li>-->
                            <!--<button type = "button" class = "am-btn am-btn-primary am-round"-->
                                    <!--onclick = "getOnePageBook_1()"><span th:text = "#{f_zj}">首页</span></button>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<button type = "button" class = "am-btn am-btn-primary am-round"-->
                                    <!--onclick = "getOnePageBook_2(-1)"><span th:text = "#{p_zj}">上一页</span></button>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<button type = "button" class = "am-btn am-btn-primary am-round"-->
                                    <!--onclick = "getOnePageBook_2(1)"><span th:text = "#{n_zj}">下一页</span></button>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<button type = "button" class = "am-btn am-btn-primary am-round"-->
                                    <!--th:onclick = "'javascript:getOnePageBook_3('+${page.totalPages}+'-1)'"><span-->
                                    <!--th:text = "#{l_zj}">末页</span></button>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
        </form>
    </div>

</div>
<!--</div>-->
<!--</div>-->


<div class = "am-cf">
    <button data-am-smooth-scroll = "{speed:2000}" class = "am-btn am-btn-primary am-fr  am-round"><span
            th:text = "#{bt_yxy}">回到顶部</span></button>
</div>

<footer class = " am-cf">
    <hr>
    <p class = "am-padding-left" style = "text-align: center">© 2018 Bibliosoft Online Library System</p>
</footer>


<script type = "text/javascript">

    $("#change").click(function () {
        translate();
    })
</script>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src = "assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src = "http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src = "http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src = "assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src = "assets/js/amazeui.min.js"></script>
<!-- <script src="assets/js/app.js"></script> -->
<script type = "text/javascript" src = "assets/js/test.js"></script>
<script type = "text/javascript" src = "assets/js/switch_language.js"></script>
<script type = "text/javascript" color = "50,177,108" opacity = "1" zIndex = "-1" count = "100"
        src = "https://www.laomoit.com/wp-content/themes/pc/js/line.js"></script>
<script>
    function clear() {
//        $('#recom-book').empty();
        $('#table-paging').empty();
    }
</script>
<script>
    function book_reserve(book_isbn) {
        var res = confirm("Confirm appointment?");
        if (res == true) {
            $.ajax({
                type: "get",
                data: {isbn: book_isbn},
                url: "reserve",
                success: function (data) {
                    if (data != null)
                        alert("Successful appointment!");
                    else
                        alert("Reservation failed. Please try again later.");
                    getOnePageBook_2(0);
                },
                error: function (data) {
                    alert("An error occurred. Please try again later.");
                }
            });
        }
    }
</script>
<script th:inline="javascript">
    var pageNumber = 0;

    function getOnePageBook_1() {
        pageNumber = 0;
        $.ajax({
            type: "get",
            url: "showbook",
            data: {start: 0, size: 12},
            success: function (data) {
                var str = "";
                $('#bk-table-3').empty();
                for (var i = 0; i < data.content.length; i++) {
                    str += "<li>\n" +
                        "                                <div class = \"am-gallery-item\">\n" +
                        "                                    <a href=\"book_details?isbn=" + data.content[i].isbn + "\" class = \"\">\n" +
                        "                                        <img src = \"" + data.content[i].coverPath + "\" height=\"326\" />\n" +
                        "                                        <h3 class = \"am-gallery-title\">" + data.content[i].title + "</h3>\n" +
                        "                                        <div class = \"am-gallery-desc\">" + [[#{remain44}]] + "&nbsp;" + "<strong>" + data.content[i].number + "</strong>" + "&nbsp;" + [[#{books44}]] + "</div>\n" +
                        "                                    </a>\n";
                    if (data.content[i].number == 0)
                        str += "                                </div>\n" +
                            "                            </li>"
                }
                $('#all-books').html(str);
            }
        });
    }

    function getOnePageBook_2(temp) {
        pageNumber += temp;
        if (pageNumber < 0)
            pageNumber = 0;
        else if (pageNumber >= [[${page.totalPages}]])
            pageNumber = [[${page.totalPages}]] - 1;
        else
            $.ajax({
                type: "get",
                url: "showbook",
                data: {start: pageNumber, size: 12},
                success: function (data) {
                    var str = '';
                    $('#all-books').empty();
                    for (var i = 0; i < data.content.length; i++) {
                        str += "<li>\n" +
                            "                                <div class = \"am-gallery-item\">\n" +
                            "                                    <a href=\"book_details?isbn=" + data.content[i].isbn + "\" class = \"\">\n" +
                            "                                        <img src = \"" + data.content[i].coverPath + "\" height=\"326\" />\n" +
                            "                                        <h3 class = \"am-gallery-title\">" + data.content[i].title + "</h3>\n" +
                            "                                        <div class = \"am-gallery-desc\">" + [[#{remain44}]] + "&nbsp;" + "<strong>" + data.content[i].number + "</strong>" + "&nbsp;" + [[#{books44}]] + "</div>\n" +
                            "                                    </a>\n";
                        if (data.content[i].number == 0)
                            str += "                                </div>\n" +
                                "                            </li>"
                    }
                    $('#all-books').html(str);
                }
            });
    }

    function getOnePageBook_3(end) {
        pageNumber = end;
        $.ajax({
            type: "get",
            url: "showbook",
            data: {start: end, size: 12},
            success: function (data) {
                console.log(data);
                var str = '';
                $('#all-books').empty();
                for (var i = 0; i < data.content.length; i++) {
                    str += "<li>\n" +
                        "                                <div class = \"am-gallery-item\">\n" +
                        "                                    <a href=\"book_details?isbn=" + data.content[i].isbn + "\" class = \"\">\n" +
                        "                                        <img src = \"" + data.content[i].coverPath + "\" height=\"326\" />\n" +
                        "                                        <h3 class = \"am-gallery-title\">" + data.content[i].title + "</h3>\n" +
                        "                                        <div class = \"am-gallery-desc\">" + [[#{remain44}]] + "&nbsp;" + "<strong>" + data.content[i].number + "</strong>" + "&nbsp;" + [[#{books44}]] + "</div>\n" +
                        "                                    </a>\n";
                    if (data.content[i].number == 0)
                        str += "                                </div>\n" +
                            "                            </li>"
                }
                $('#all-books').html(str);
            }
        });
    }
</script>

<script th:inline="javascript">
    var totalPage4 = 0;
    var pageNumber4 = 0;

    console.log("233");

    function getOnePageBook4_1() {
        pageNumber4 = 0;
        var inputDoc = document.getElementById("string");
        var string = inputDoc.value;
        if(string == ""){
            alert([[#{searchBox}]]);
            inputDoc.focus();
            return false;
        }
        document.getElementById("recom-book").style.display = 'block';
        $.ajax({
            type: "get",
            url: "searchBook",
            data: {string: string, start: 0, size: 12},
            success: function (data) {
                console.log(data);
                var str = "";
                totalPage4 = data.totalPages;
                $('#bk-table-3').empty();
                for (var i = 0; i < data.content.length; i++) {
                    str += "<li>\n" +
                        "                                <div class = \"am-gallery-item\">\n" +
                        "                                    <a href=\"book_details?isbn=" + data.content[i].isbn + "\" class = \"\">\n" +
                        "                                        <img src = \"" + data.content[i].coverPath + "\" height=\"326\" />\n" +
                        "                                        <h3 class = \"am-gallery-title\">" + data.content[i].title + "</h3>\n" +
                        "                                        <div class = \"am-gallery-desc\">" + [[#{remain44}]] + "&nbsp;" + "<strong>" + data.content[i].number + "</strong>" + "&nbsp;" + [[#{books44}]] + "</div>\n" +
                        "                                    </a>\n";
                    str += "                                </div>\n" +
                        "                            </li>"
                }
                var str1 = "";
                str1 += "<div class = \"am-cf\" id=\"table-paging\">\n" +
                    "                            " + [[#{total44}]] + " " + data.totalElements + " " + [[#{records44}]] + "\n" +
                    "                            <div class = \"am-fr\">\n" +
                    "                                <ul class = \"am-pagination\">\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_1()\">" + [[#{f_zj}]] + "</button></li>\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_2(-1)\">" + [[#{p_zj}]] + "</button></li>\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_2(1)\">" + [[#{n_zj}]] + "</button></li>\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_3()\">" + [[#{l_zj}]] + "</button></li>\n" +
                    "                                </ul>\n" +
                    "                            </div>\n" +
                    "                        </div>"
                clear();
                $('#all-books').html(str);
                $('#table-paging').html(str1);
            }
        });
    }

    function getOnePageBook4_2(temp) {
        pageNumber4 += temp;
        var inputDoc = document.getElementById("string");
        var string = inputDoc.value;
        if(string == ""){
            alert([[#{searchBox}]]);
            inputDoc.focus();
            return false;
        }
        if (pageNumber4 < 0)
            pageNumber4 = 0;
        else if (pageNumber4 >= totalPage4)
            pageNumber4 = totalPage4 - 1;
        else
            $.ajax({
                type: "get",
                url: "searchBook",
                data: {string: string, start: pageNumber4, size: 12},
                success: function (data) {
                    var str = '';
                    $('#all-books').empty();
                    for (var i = 0; i < data.content.length; i++) {
                        str += "<li>\n" +
                            "                                <div class = \"am-gallery-item\">\n" +
                            "                                    <a href=\"book_details?isbn=" + data.content[i].isbn + "\" class = \"\">\n" +
                            "                                        <img src = \"" + data.content[i].coverPath + "\" height=\"326\" />\n" +
                            "                                        <h3 class = \"am-gallery-title\">" + data.content[i].title + "</h3>\n" +
                            "                                        <div class = \"am-gallery-desc\">" + [[#{remain44}]] + "&nbsp;" + "<strong>" + data.content[i].number + "</strong>" + "&nbsp;" + [[#{books44}]] + "</div>\n" +
                            "                                    </a>\n";
                        str += "                                </div>\n" +
                            "                            </li>"
                    }
                    var str1 = "";
                    str1 += "<div class = \"am-cf\" id=\"table-paging\">\n" +
                        "                            " + [[#{total44}]] + " " + data.totalElements + " " + [[#{records44}]] + "\n" +
                        "                            <div class = \"am-fr\">\n" +
                        "                                <ul class = \"am-pagination\">\n" +
                        "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_1()\">" + [[#{f_zj}]] + "</button></li>\n" +
                        "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_2(-1)\">" + [[#{p_zj}]] + "</button></li>\n" +
                        "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_2(1)\">" + [[#{n_zj}]] + "</button></li>\n" +
                        "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_3()\">" + [[#{l_zj}]] + "</button></li>\n" +
                        "                                </ul>\n" +
                        "                            </div>\n" +
                        "                        </div>"
                    clear();
                    $('#all-books').html(str);
                    $('#table-paging').html(str1);
                }
            });
    }

    function getOnePageBook4_3() {
        pageNumber4 = totalPage4 - 1;
        var inputDoc = document.getElementById("string");
        var string = inputDoc.value;
        if(string == ""){
            alert([[#{searchBox}]]);
            inputDoc.focus();
            return false;
        }
        $.ajax({
            type: "get",
            url: "searchBook",
            data: {string: string, start: pageNumber4, size: 12},
            success: function (data) {
                var str = '';
                $('#all-books').empty();
                for (var i = 0; i < data.content.length; i++) {
                    str += "<li>\n" +
                        "                                <div class = \"am-gallery-item\">\n" +
                        "                                    <a href=\"book_details?isbn=" + data.content[i].isbn + "\" class = \"\">\n" +
                        "                                        <img src = \"" + data.content[i].coverPath + "\" height=\"326\" />\n" +
                        "                                        <h3 class = \"am-gallery-title\">" + data.content[i].title + "</h3>\n" +
                        "                                        <div class = \"am-gallery-desc\">" + [[#{remain44}]] + "&nbsp;" + "<strong>" + data.content[i].number + "</strong>" + "&nbsp;" + [[#{books44}]] + "</div>\n" +
                        "                                    </a>\n";
                    str += "                                </div>\n" +
                        "                            </li>"
                }
                var str1 = "";
                str1 += "<div class = \"am-cf\" id=\"table-paging\">\n" +
                    "                            " + [[#{total44}]] + " " + data.totalElements + " " + [[#{records44}]] + "\n" +
                    "                            <div class = \"am-fr\">\n" +
                    "                                <ul class = \"am-pagination\">\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_1()\">" + [[#{f_zj}]] + "</button></li>\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_2(-1)\">" + [[#{p_zj}]] + "</button></li>\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_2(1)\">" + [[#{n_zj}]] + "</button></li>\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_3()\">" + [[#{l_zj}]] + "</button></li>\n" +
                    "                                </ul>\n" +
                    "                            </div>\n" +
                    "                        </div>"
                clear();
                $('#all-books').html(str);
                $('#table-paging').html(str1);
            }
        });
    }
</script>
</body>
</html>