<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang = "en">
    <meta charset = "UTF-8">
    <title>Bibliosoft</title>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <meta name = "format-detection" content = "telephone=no">
    <meta name = "renderer" content = "webkit">
    <meta http-equiv = "Cache-Control" content = "no-siteapp"/>
    <link rel = "alternate icon" type = "image/jpg" href = "assets/i/head_logo.jpg">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
    <header class = "am-topbar am-topbar-inverse admin-header">
        <h1 class = "am-topbar-brand ">
            <a href = "#" class = "am-text-ir">BiblioSoft</a>
        </h1>


        <div class = "am-collapse am-topbar-collapse" id = "doc-topbar-collapse">

            <div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">

                <ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

                    <li><a href = "javascript:;">
                        <button id = "change" class = "am-btn am-btn-primary am-btn-sm" th:text="#{ce_ysw}">中文/英文</button>
                    </a></li>

                    <li class = "am-dropdown" data-am-dropdown>
                        <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                            <a th:href = "@{/logout}" th:text="#{lg_yxy}">注销</a>
                        </a>

                    </li>

                </ul>
            </div>

        </div>
    </header>

    <div data-am-widget="intro" class="am-intro am-cf am-intro-default">
        <div class="am-g am-intro-bd">
            <div class="am-intro-left am-u-sm-5"><img th:src="${userBook.book.coverPath}" alt="" /></div>
            <div class="am-intro-right am-u-sm-7">
                <h2 class="am-intro-more am-intro-right "><span th:text="#{tofd_ysw}">倒计时：</span></h2>
                <p id="count-down"></p>
                <h2 th:text="#{btitle}">书名</h2>
                <p th:text="${userBook.book.title}"></p>
                <h2 th:text="#{au44}">作者</h2>
                <p th:text="${userBook.book.author}"></p>
                <h2 th:text="#{brief}">简介</h2>
                <p th:text="${userBook.book.brief}"></p>
            </div>
        </div>
    </div>

    <script src = "https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script type = "text/javascript" src = "assets/js/test.js"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = function(){
            var timer = null;
            // 定义倒计时的时间(倒计时1分钟10秒)
            var expire_date = new Date([[${userBook.returnDate}]]);
            var current_date = new Date();
            var diff_date = new Date(expire_date-current_date)
            var hours = diff_date.getHours() - 8;
            var minutes = diff_date.getMinutes();
            var seconds = diff_date.getSeconds();
            function show(){
                //判断时间到了没
                if(hours==0&&seconds==0&&minutes==0){
                    clearInterval(timer);//清除定时器
                    alert("时间到");
                    return;
                }
                seconds--;
                if(seconds<0){
                    seconds = 59;
                    minutes--;
                    if(minutes<0){
                        minutes = 59;
                        hours--;
                    }
                }
                minutes = (minutes+"").length==1?"0"+minutes:minutes;//(minutes+"")是将其数据类型转换成字符串类型
                seconds = (seconds+"").length==1?"0"+seconds:seconds;
                console.log(hours+":"+minutes+":"+seconds);
                document.getElementById("count-down").innerHTML = hours+":"+minutes+":"+seconds;
            }
            //开启定时器
            timer = setInterval(show,1000);
        }
    </script>
    <script type = "text/javascript">
        $("#change").click(function () {
            translate();
        })
    </script>
</body>
</html>