<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang = "en">
    <meta charset = "UTF-8">
    <title>Online Library System</title>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <meta name = "format-detection" content = "telephone=no">
    <meta name = "renderer" content = "webkit">
    <meta http-equiv = "Cache-Control" content = "no-siteapp"/>
    <link rel = "alternate icon" type = "image/png" href = "assets/i/favicon.png">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div data-am-widget="intro" class="am-intro am-cf am-intro-default">
        <div class="am-intro-hd">
            <h2 class="am-intro-title">条形码</h2>
            <a class="am-intro-more am-intro-more-top " href="#more">倒计时</a>
        </div>

        <div class="am-g am-intro-bd">
            <div
                    class="am-intro-left am-u-sm-5"><img src="http://s.amazeui.org/assets/2.x/i/cpts/intro/WP_Cortana_China.png" alt="小娜" /></div>
            <div
                    class="am-intro-right am-u-sm-7"><p>Cortana 恐怕是用户急于更新到 WP8.1 Update 开发者预览版的原因之一</p><p>Cortana 中国版特有的新图标（面团，带眼睛，可在 Cortana 设置中切换回圆圈），使用的是中文语言，也同样支持 Cortana 笔记本。</p></div>
        </div>
    </div>
</body>
</html>