<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang = "en">
    <meta charset = "UTF-8">
    <title>Online Library System</title>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <meta name = "format-detection" content = "telephone=no">
    <meta name = "renderer" content = "webkit">
    <meta http-equiv = "Cache-Control" content = "no-siteapp"/>
    <link rel = "alternate icon" type = "image/png" href = "assets/i/favicon.png">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div data-am-widget="intro" class="am-intro am-cf am-intro-default">
        <div class="am-intro-hd">
            <h2 class="am-intro-title">条形码：<b th:text="${userBkunit.bkunit.id}"></b></h2>
            <h2 class="am-intro-more am-intro-right ">倒计时：<span id="count-down"></span></h2>
        </div>

        <div class="am-g am-intro-bd">
            <div class="am-intro-left am-u-sm-5"><img th:src="${userBkunit.bkunit.book.coverPath}" alt="小娜" /></div>
            <div class="am-intro-right am-u-sm-7">
                <p th:text="${userBkunit.bkunit.book.title}"></p>
                <p th:text="${userBkunit.bkunit.book.author}"></p>
                <p th:text="${userBkunit.bkunit.book.brief}"></p>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        window.onload = function(){
            var timer = null;
            // 定义倒计时的时间(倒计时1分钟10秒)
            var expire_date = new Date([[${userBkunit.returnDate}]]);
            var current_date = new Date();
            var expire_hours = expire_date.getHours();
            var expire_minutes = expire_date.getMinutes();
            var expire_seconds = expire_date.getSeconds();
            var current_hours = current_date.getHours();
            var current_minutes = current_date.getMinutes();
            var current_seconds = current_date.getSeconds();
            var hours = expire_hours - current_hours;
            var minutes = expire_minutes - current_minutes;
            var seconds = expire_seconds - current_seconds;
            function show(){
                //判断时间到了没
                if(hours==0&&seconds==0&&minutes==0){
                    clearInterval(timer);//清除定时器
                    alert("时间到");
                    return;
                }
                seconds--;
                if(seconds<0){
                    seconds = 59;
                    minutes--;
                    if(minutes<0){
                        minutes = 59;
                        hours--;
                    }
                }
                minutes = (minutes+"").length==1?"0"+minutes:minutes;//(minutes+"")是将其数据类型转换成字符串类型
                seconds = (seconds+"").length==1?"0"+seconds:seconds;
                console.log(hours+":"+minutes+":"+seconds);
                document.getElementById("count-down").innerHTML = hours+":"+minutes+":"+seconds;
            }
            //开启定时器
            timer = setInterval(show,1000);
        }
    </script>
</body>
</html>