<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang = "en">
    <meta charset = "UTF-8">
    <title>Online Library System</title>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <meta name = "format-detection" content = "telephone=no">
    <meta name = "renderer" content = "webkit">
    <meta http-equiv = "Cache-Control" content = "no-siteapp"/>
    <link rel = "alternate icon" type = "image/png" href = "assets/i/favicon.png">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>

<figure data-am-widget = "figure" class = "am am-figure am-figure-default " data-am-figure = "{  pureview: 'true' }">


    <img th:src = "${book.coverPath}" th:width="50%" th:height="60%"
         data-rel = "http://s.amazeui.org/media/i/demos/pure-1.jpg" alt = "春天的花开秋天的风以及冬天的落阳"/>
    <figcaption class = "am-figure-capition-btm">
        [[${book.title}]]
    </figcaption>


</figure>

<div class = "am-g">
    <div class = "am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>书名</h3>
        <hr>
        <div class = "am-text-bottom">
            [[${book.title}]]
        </div>
        <br>
        <br>

        <h3>作者</h3>
        <hr>
        <div class = "am-text-bottom">
            [[${book.author}]]
        </div>
        <br>
        <br>

        <h3>出版社</h3>
        <hr>
        <div class = "am-text-bottom">
            [[${book.publisher}]]
        </div>
        <br>
        <br>

        <h3>图书位置</h3>
        <hr>
        <div class = "am-text-bottom">
            [[${book.position}]]
        </div>
        <br>
        <br>

        <h3>简介</h3>
        <hr>
        <div class = "am-text-bottom">
            [[${book.brief}]]
        </div>
        <br>
        <br>

        <hr>

        <div class = "am-cf am-padding">
            <div class = "am-fl am-cf"><strong class = "am-text-primary am-text-lg">大众评价：</strong></div>
        </div>

        <ul class = "am-comments-list am-comments-list-flip" id = "book-review">

        </ul>

        <footer>
            <hr>
            <p class = "am-padding-left" style = "text-align: center">© 2018 Biboliosoft Online Library System</p>
        </footer>
    </div>
</div>
<script th:inline = "javascript">
    iteSetOfReview();

    function iteSetOfReview() {
        var str = "";
        for (var x of [[${book.reviews}]]) {
            console.log(x);
            str += "<li class = \"am-comment\">\n" +
                "                <article class = \"am-comment\">\n" +
                "                    <a href = \"#link-to-user-home\">\n" +
                "                        <img src = \"assets/i/head.jpg\" alt = \"\" class = \"am-comment-avatar\" width = \"48\" height = \"48\"/>\n" +
                "                    </a>\n" +
                "\n" +
                "                    <div class = \"am-comment-main\">\n" +
                "                        <header class = \"am-comment-hd\">\n" +
                "                            <!--<h3 class=\"am-comment-title\">评论标题</h3>-->\n" +
                "                            <div class = \"am-comment-meta\">\n" +
                "                                <a href = \"#link-to-user\" class = \"am-comment-author\">"+x.user.username+"</a>\n" +
                "                                评论于\n" +
                "                                <time datetime = \"2013-07-27T04:54:29-07:00\" title = \"2013年7月27日 下午7:54 格林尼治标准时间+0800\">\n" +
                "                                    "+date2str(x.date,"yyyy-MM-d h:m:s")+"\n" +
                "                                </time>\n" +
                "                            </div>\n" +
                "                        </header>\n" +
                "\n" +
                "                        <div class = \"am-comment-bd\">\n" +
                "                            " + x.review + "\n" +
                "                        </div>\n" +
                "                    </div>\n" +
                "                </article>\n" +
                "            </li>";
        }
        document.getElementById("book-review").innerHTML=str;
    }

    function date2str(x, y) {
        x1 = new Date(x);
        var z = {
            y: x1.getFullYear(),
            M: x1.getMonth() + 1,
            d: x1.getDate(),
            h: x1.getHours(),
            m: x1.getMinutes(),
            s: x1.getSeconds()
        };
        return y.replace(/(y+|M+|d+|h+|m+|s+)/g, function (v) {
            return ((v.length > 1 ? "0" : "") + eval('z.' + v.slice(-1))).slice(-(v.length > 2 ? v.length : 2))
        });
    }
</script>
</body>
</html>
