<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset = "UTF-8">
    <title>BiblioSoft</title>
    <link rel = "icon" type = "image/png" href = "assets/i/favicon.png">
    <link rel = "apple-touch-icon-precomposed" href = "assets/i/app-icon72x72@2x.png">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <link rel = "stylesheet" href = "assets/css/admin.css">
    <style>
        .am-form-group {
            text-align: left;
        }

        .am-topbar {
            /*background-color: black;*/
        }

        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }

        .am-topbar-brand {
        }
    </style>
</head>
<body>
<header class = "am-topbar am-topbar-inverse admin-header">
    <h1 class = "am-topbar-brand ">
        <a href = "#" class = "am-text-ir">BiblioSoft</a>
    </h1>


    <div class = "am-collapse am-topbar-collapse" id = "doc-topbar-collapse">

        <div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">

            <ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        <span th:text="#{lan44}">语言</span> <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="changeSessionLanguage?lang=zh&page=password_change">中文</a></li>
                        <li><a href="changeSessionLanguage?lang=en&page=password_change">ENGLISH</a></li>
                    </ul>
                </li>
                <li class = "am-dropdown" data-am-dropdown>
                    <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                        <a th:href = "@{/logout}" th:text="#{lg_yxy}">注销</a>
                    </a>

                </li>

            </ul>
        </div>

    </div>
</header>

<div class = "am-cf admin-main">
    <!-- sidebar start -->
    <div class = "admin-sidebar am-offcanvas" id = "admin-offcanvas">
        <div class = "am-offcanvas-bar admin-offcanvas-bar">
            <div class = "user-info">
                <img class = "am-img-circle am-img-thumbnail am-center" width="200" height="200"
                     th:src= "${avatarPath}"
                     alt = ""/>
                <p style = "text-align: center" th:text="${username}">Reader</p>
            </div>

            <ul class = "am-list admin-sidebar-list">
                <li><a href = "reader_condition"><span class = "am-icon-bar-chart"></span><span th:text="#{bis_yxy}"> 借书信息统计</span></a></li>
                <li><a href = "reader_search"><span class = "am-icon-search"></span><span th:text="#{sfb_yxy}"> 搜索图书</span></a></li>
                <li><a href = "reader_information" class = "am-cf"><span class = "am-icon-check"></span><span th:text="#{pd_yxy}"> 个人资料</span><span
                        class = "am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                <li><a href = "password_change"><span class = "am-icon-eraser"></span><span th:text="#{cp_yxy}"> 修改密码</span></a></li>
                <li><a href = "reader_message"><span class = "am-icon-commenting-o"></span><span th:text="#{lm_yxy}"> 留言</span></a></li>
            </ul>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-bookmark"></span> <span th:text="#{no_yxy}">公告<span></p>
                    <p th:text="#{announcement44}">时光静好，与君语；细水流年，与君同。</p>
                </div>
            </div>

           <!-- <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-tag"></span> wiki</p>
                    <p>Welcome to the Amaze UI wiki!</p>
                </div>
            </div>-->
        </div>
    </div>
    <!-- sidebar end -->
    <!-- content start -->
    <div class = "admin-content">
        <div class = "admin-content-body">
            <div class = "am-cf am-padding am-padding-bottom-0">
                <div class = "am-fl am-cf"><strong class = "am-text-primary am-text-lg" th:text="#{cp_yxy}">修改密码</strong> /
                    <small>Modify password</small>
                </div>
            </div>

            <hr/>

            <div class = "am-g">


                <div class = "am-u-sm-12 am-u-md-8 ">
                    <form class = "am-form am-form-horizontal" name="form1" action = "modifyPassword" method = "post" onsubmit="return check()">
                        <div class = "am-form-group">
                            <label for = "admin-Old password" class = "am-u-sm-3 am-form-label" th:text="#{cp44}">当前密码</label>
                            <div class = "am-u-sm-9">
                                <input type = "password" id = "admin-Old password" th:placeholder = "#{icp44}"
                                       name = "oldPassword">
                            </div>
                        </div>


                        <div class = "am-form-group">
                            <label for = "admin-New password" class = "am-u-sm-3 am-form-label" th:text="#{np44}">新的密码</label>
                            <div class = "am-u-sm-9">
                                <input type = "password" id = "admin-New password" th:placeholder = "#{inp44}" name = "pwd1">
                            </div>
                        </div>

                        <div class = "am-form-group">
                            <label for = "admin-New password" class = "am-u-sm-3 am-form-label" th:text="#{cop44}">确认密码</label>
                            <div class = "am-u-sm-9">
                                <input type = "password" id = "newPwd" autocomplete="new-password" th:thplaceholder = "#{cip44}" name = "newPassword" required>
                            </div>
                        </div>


                        <div class = "am-form-group">
                            <div class = "am-u-sm-9 am-u-sm-push-3">
                                <button type = "submit" class = "am-btn am-btn-primary" id="btnName" th:text="#{submit}">提 交
                                </button>
                            </div>
                        </div>

                        <div class = "am-form-group">
                            <div class = "am-u-sm-9 am-u-sm-push-3">
                                <div id="msg" style="color:red;"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <footer class = "admin-content-footer">
            <hr>
            <p class = "am-padding-left" style = "text-align: center">© 2018 Biboliosoft Online Library System</p>
        </footer>

    </div>
    <!-- content end -->
</div>


<!--[if lt IE 9]>
<script src = "assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src = "assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src = "assets/js/amazeui.min.js"></script>
<script src = "assets/js/app.js"></script>

<script th:inline = "javascript">
    var status = [[${status}]];

    function isOk() {
        if (status != 'null') {
            if (status == 1) {
                alert([[#{pms}]]);
            }
            else
                alert([[#{ope}]]);
        }
    }

    isOk();
</script>

<script type = "text/javascript" src = "assets/js/charts/echarts.min.js"></script>
<script type = "text/javascript" src = "assets/js/charts/pieChart.js"></script>
<script src = "assets/js/test.js">
</script>
<script type = "text/javascript">
    $("#change").click(function () {
        translate();
    })
</script>

<script>
    $(document).ready(function(){
        $("#newPwd").mouseleave(function(){
            var p1=document.form1.pwd1.value;//获取密码框的值
            var p2=document.form1.newPassword.value;//获取重新输入的密码值
            if(p1!=p2){//判断两次输入的值是否一致，不一致则显示错误信息
                document.getElementById("msg").innerHTML=[[#{inconsistent}]];//在div显示错误信息
                document.getElementById('btnName').disabled = true;//按钮失效
                return false;
            }else{
                //密码一致，可以继续下一步操作
                $('#msg').empty();
                document.getElementById('btnName').disabled = false;//按钮有效
                return true;
            }
        });
    });
</script>
<script>
    function check(){
        var oldPwd=window.document.getElementById("admin-Old password").value;
        var newPwd1=window.document.getElementById("admin-New password").value;
        var newPwd2=window.document.getElementById("newPwd").value;
        if (oldPwd == "") // 或者是!nameValue
        {
            window.alert([[#{current}]]);
            return false;
        }
        else if(newPwd1 == ""){
            window.alert([[#{new}]]);
            return false;
        }
        else if(newPwd2 == ""){
            window.alert([[#{confirmed}]]);
        }
        return true;
    }
</script>
</body>
</html>

