<!doctype html>
<html class = "no-js" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <title>Bibliosoft</title>
    <meta name = "description" content = "这是一个 table 页面">
    <meta name = "keywords" content = "table">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <meta name = "renderer" content = "webkit">
    <meta http-equiv = "Cache-Control" content = "no-siteapp"/>
    <link rel = "icon" type = "image/jpg" href = "assets/i/head_logo.jpg">
    <link rel = "apple-touch-icon-precomposed" href = "assets/i/app-icon72x72@2x.png">
    <meta name = "apple-mobile-web-app-title" content = "Amaze UI"/>
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <link rel = "stylesheet" href = "assets/css/admin.css">
    <link rel = "stylesheet" href = "assets/css/app.css">
    <style>
        .am-form-group {
            text-align: left;
        }

        .am-topbar {
            /*background-color: black;*/
        }

        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }
    </style>
</head>
<body>
<!--[if lte IE 9]>
<p class = "browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href = "http://browsehappy.com/"
                                                                          target = "_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class = "am-topbar am-topbar-inverse admin-header">
    <h1 class = "am-topbar-brand ">
        <a href = "#" class = "am-text-ir">BiblioSoft</a>
    </h1>

    <button class = "am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse = "{target: '#doc-topbar-collapse'}"><span class = "am-sr-only">导航切换</span> <span
            class = "am-icon-bars"></span></button>

    <div class = "am-collapse am-topbar-collapse" id = "doc-topbar-collapse">
        <ul class = "am-nav am-nav-pills am-topbar-nav">
            <li class = "am-active"><a href = "#">首页</a></li>
            <li><a href = "#">项目</a></li>
            <li class = "am-dropdown" data-am-dropdown>
                <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                    下拉 <span class = "am-icon-caret-down"></span>
                </a>
                <ul class = "am-dropdown-content">
                    <li class = "am-dropdown-header">标题</li>
                    <li><a href = "#">1. 去月球</a></li>
                    <li class = "am-active"><a href = "#">2. 去火星</a></li>
                    <li><a href = "#">3. 还是回地球</a></li>
                    <li class = "am-disabled"><a href = "#">4. 下地狱</a></li>
                    <li class = "am-divider"></li>
                    <li><a href = "#">5. 桥头一回首</a></li>
                </ul>
            </li>
        </ul>

        <form class = "am-topbar-form am-topbar-left am-form-inline" role = "search">
            <div class = "am-form-group">
                <input type = "text" class = "am-form-field am-input-sm" placeholder = "搜索">
            </div>
        </form>

        <div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">

            <ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

                <li><a href = "javascript:;">
                    <button id = "change" class = "am-btn am-btn-primary am-btn-sm">中文/英文</button>
                </a></li>

                <li class = "am-dropdown" data-am-dropdown>
                    <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                        <a th:href = "@{/logout}">注销</a>
                    </a>

                </li>

            </ul>
        </div>

    </div>
</header>

<div class = "am-cf admin-main">
    <!-- sidebar start -->
    <div class = "admin-sidebar am-offcanvas" id = "admin-offcanvas">
        <div class = "am-offcanvas-bar admin-offcanvas-bar">
            <ul class = "am-list admin-sidebar-list">
                <li><a href = "reader_condition"><span class = "am-icon-bar-chart"></span> 借书信息统计</a></li>
                <li><a href = "reader_search"><span class = "am-icon-search"></span> 搜索页面</a></li>
                <li><a href = "reader_information" class = "am-cf"><span class = "am-icon-check"></span> 个人资料<span
                        class = "am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                <li><a href = "reader_message"><span class = "am-icon-commenting-o"></span> 留言</a></li>
            </ul>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-bookmark"></span> 公告</p>
                    <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
                </div>
            </div>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-tag"></span> wiki</p>
                    <p>Welcome to the Amaze UI wiki!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class = "admin-content">
        <div class = "admin-content-body">

            <div class = "am-g am-padding">
                <div class = "am-u-sm-12 am-u-md-6">
                    <form class = "am-form">
                        <div class = "am-input-group am-input-group-sm">
                            <input type = "text" class = "am-form-field am-radius">
                            <span class = "am-input-group-btn">
                                <button class = "am-btn am-btn-default am-icon-search am-radius"
                                        type = "button">搜索</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <div class = "am-g">
                <div class = "am-u-sm-12">
                    <div class = "am-cf am-padding" id = "recom-book">
                        <div class = "am-fl am-cf"><strong class = "am-text-primary am-text-lg">重磅推荐</strong></div>
                        <form action = "" class = "am-topbar-right">
                            <select name = "test" data-am-selected>
                                <option value = "a">产品</option>
                                <option value = "b" selected>设计</option>
                                <option value = "o">开发</option>
                                <option value = "m">测试</option>
                                <option value = "d" disabled>运维</option>
                            </select>
                        </form>
                    </div>
                    <form class = "am-form">
                        <ul data-am-widget = "gallery" id="all-books" class = "am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-bordered" data-am-gallery = "{  }">
                            <li th:each = "book:${page}">
                                <div class = "am-gallery-item">
                                    <a th:href="@{book_details(isbn=${book.isbn})}" class = "">
                                        <img th:src = "${book.coverPath}" height="326" />
                                        <h3 th:text="${book.title}" class = "am-gallery-title"></h3>
                                        <div class = "am-gallery-desc">剩余：<strong th:text="${book.number}"></strong>本</div>
                                    </a>
                                    <button th:if = "${book.number} eq 0" type = "button" class = "am-btn am-btn-default" disabled>
                                        预约
                                    </button>
                                    <button th:if = "${book.number} gt 0" type = "button" class = "am-btn am-btn-default" th:onclick="'javascript:book_reserve('+${book.isbn}+')'">
                                        预约</button>
                                </div>
                            </li>

                        </ul>
                        <div class = "am-cf">
                            共 [[${page.totalElements}]] 条记录
                            <div class = "am-fr">
                                <ul class = "am-pagination">
                                    <li><button onclick = "getOnePageBook_1()">[首页]</button></li>
                                    <li><button onclick = "getOnePageBook_2(-1)">上一页</button></li>
                                    <li><button onclick = "getOnePageBook_2(1)">下一页</button></li>
                                    <li><button th:onclick = "'javascript:getOnePageBook_3('+${page.totalPages}+'-1)'">[末页]</button></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <footer>
            <hr>
            <p class = "am-padding-left" style = "text-align: center">© 2018 Biboliosoft Online Library System</p>
        </footer>

    </div>
    <!-- content end -->
</div>

<a href = "#" class = "am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas = "{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src = "http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src = "http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src = "assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src = "assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src = "assets/js/amazeui.min.js"></script>
<script src = "assets/js/app.js"></script>
<script src = "https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script type = "text/javascript" src = "assets/js/test.js"></script>
<script>
    clear();

    function clear() {
        if (status == 0)
            $('#recom-book').empty();
    }
</script>
<script type = "text/javascript">
    $("#change").click(function () {
        translate();
    })
</script>
<script>
    function book_reserve(book_isbn) {
        var res = confirm("确认预约？");
        if(res == true){
            $.ajax({
                type: "get",
                data: {isbn: book_isbn},
                url: "reserve",
                success: function (data) {
                    if(data!=null)
                        alert("成功预约！条形码：" + data.message);
                    else
                        alert("预约失败，请稍后再试！");
                    getOnePageBook_2(0);
                },
                error: function (data) {
                    alert("发生错误，请稍后再试！");
                }
            });
        }
    }
</script>
<script>

    var pageNumber = 0;

    function getOnePageBook_1() {
        pageNumber = 0;
        $.ajax({
            type: "get",
            url: "showbook",
            data: {start: 0, size: 8},
            success: function (data) {
                var str = "";
                $('#bk-table-3').empty();
                for (var i = 0; i < data.content.length; i++) {
                    str += "<li>\n" +
                        "                                <div class = \"am-gallery-item\">\n" +
                        "                                    <a href=\"book_details?isbn="+data.content[i].isbn+"\" class = \"\">\n" +
                        "                                        <img src = \""+data.content[i].coverPath+"\" height=\"326\" />\n" +
                        "                                        <h3 class = \"am-gallery-title\">"+data.content[i].title+"</h3>\n" +
                        "                                        <div class = \"am-gallery-desc\">剩余：<strong>"+data.content[i].number+"</strong>本</div>\n" +
                        "                                    </a>\n";
                    if(data.content[i].number == 0)
                        str+="                                    <button type = \"button\" class = \"am-btn am-btn-default\" disabled>\n" +
                        "                                        预约\n" +
                        "                                    </button>\n"
                    else
                        str+="                                    <button type = \"button\" class = \"am-btn am-btn-default\" onclick=\"book_reserve(data.content[i].isbn)\">\n" +
                        "                                        预约</button>\n"
                    str+= "                                </div>\n" +
                        "                            </li>"
                }
                $('#all-books').html(str);
            }
        });
    }

    function getOnePageBook_2(temp) {
        pageNumber += temp;
        if (pageNumber < 0)
            pageNumber = 0;
        else if (pageNumber >= [[${page.totalPages}]])
            pageNumber = [[${page.totalPages}]]-1;
        else
            $.ajax({
                type: "get",
                url: "showbook",
                data: {start: pageNumber, size: 8},
                success: function (data) {
                    var str = '';
                    $('#all-books').empty();
                    for (var i = 0; i < data.content.length; i++) {
                        str += "<li>\n" +
                            "                                <div class = \"am-gallery-item\">\n" +
                            "                                    <a href=\"book_details?isbn="+data.content[i].isbn+"\" class = \"\">\n" +
                            "                                        <img src = \""+data.content[i].coverPath+"\" height=\"326\" />\n" +
                            "                                        <h3 class = \"am-gallery-title\">"+data.content[i].title+"</h3>\n" +
                            "                                        <div class = \"am-gallery-desc\">剩余：<strong>"+data.content[i].number+"</strong>本</div>\n" +
                            "                                    </a>\n";
                        if(data.content[i].number == 0)
                            str+="                                    <button type = \"button\" class = \"am-btn am-btn-default\" disabled>\n" +
                                "                                        预约\n" +
                                "                                    </button>\n"
                        else
                            str+="                                    <button type = \"button\" class = \"am-btn am-btn-default\" onclick=\"book_reserve("+data.content[i].isbn+")\">\n" +
                                "                                        预约</button>\n"
                        str+= "                                </div>\n" +
                            "                            </li>"
                    }
                    $('#all-books').html(str);
                }
            });
    }

    function getOnePageBook_3(end) {
        pageNumber = end;
        $.ajax({
            type: "get",
            url: "showbook",
            data: {start: end, size: 8},
            success: function (data) {
                var str = '';
                $('#all-books').empty();
                for (var i = 0; i < data.content.length; i++) {
                    str += "<li>\n" +
                        "                                <div class = \"am-gallery-item\">\n" +
                        "                                    <a href=\"book_details?isbn="+data.content[i].isbn+"\" class = \"\">\n" +
                        "                                        <img src = \""+data.content[i].coverPath+"\" height=\"326\" />\n" +
                        "                                        <h3 class = \"am-gallery-title\">"+data.content[i].title+"</h3>\n" +
                        "                                        <div class = \"am-gallery-desc\">剩余：<strong>"+data.content[i].number+"</strong>本</div>\n" +
                        "                                    </a>\n";
                    if(data.content[i].number == 0)
                        str+="                                    <button type = \"button\" class = \"am-btn am-btn-default\" disabled>\n" +
                            "                                        预约\n" +
                            "                                    </button>\n"
                    else
                        str+="                                    <button type = \"button\" class = \"am-btn am-btn-default\" onclick=\"book_reserve(data.content[i].isbn)\">\n" +
                            "                                        预约</button>\n"
                    str+= "                                </div>\n" +
                        "                            </li>"
                }
                $('#all-books').html(str);
            }
        });
    }
</script>

</body>
</html>
