<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset = "UTF-8">
    <title>BiblioSoft</title>
    <link rel = "icon" type = "image/png" href = "assets/i/favicon.png">
    <link rel = "apple-touch-icon-precomposed" href = "assets/i/app-icon72x72@2x.png">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <link rel = "stylesheet" href = "assets/css/admin.css">
    <style>
        .am-form-group {
            text-align: left;
        }

        .am-topbar {
            /*background-color: black;*/
        }

        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }

        .am-topbar-brand {
        }
    </style>
</head>
<body>
<header class = "am-topbar am-topbar-inverse admin-header">
    <h1 class = "am-topbar-brand ">
        <a href = "#" class = "am-text-ir">BiblioSoft</a>
    </h1>


    <div class = "am-collapse am-topbar-collapse" id = "doc-topbar-collapse">

        <div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">

            <ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        <span th:text="#{lan44}">语言</span> <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="changeSessionLanguage?lang=zh&page=reader_search">中文</a></li>
                        <li><a href="changeSessionLanguage?lang=en&page=reader_search">ENGLISH</a></li>
                    </ul>
                </li>
                <li class = "am-dropdown" data-am-dropdown>
                    <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                        <a th:href = "@{/logout}" th:text = "#{lg_yxy}">注销</a>
                    </a>

                </li>

            </ul>
        </div>

    </div>
</header>

<div class = "am-cf admin-main">
    <!-- sidebar start -->
    <div class = "admin-sidebar am-offcanvas" id = "admin-offcanvas">
        <div class = "am-offcanvas-bar admin-offcanvas-bar">
            <div class = "user-info">
                <img class = "am-img-circle am-img-thumbnail am-center" width = "200" height = "200"
                     th:src = "${avatarPath}"
                     alt = ""/>
                <p style = "text-align: center" th:text = "${username}">Reader</p>
            </div>

            <ul class = "am-list admin-sidebar-list">
                <li><a href = "reader_condition"><span class = "am-icon-bar-chart"></span><span th:text = "#{bis_yxy}"> 借书信息统计</span></a>
                </li>
                <li><a href = "reader_search"><span class = "am-icon-search"></span><span
                        th:text = "#{sfb_yxy}"> 搜索图书</span></a></li>
                <li><a href = "reader_information" class = "am-cf"><span class = "am-icon-check"></span><span
                        th:text = "#{pd_yxy}"> 个人资料</span><span
                        class = "am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                <li><a href = "password_change"><span class = "am-icon-eraser"></span><span
                        th:text = "#{cp_yxy}"> 修改密码</span></a></li>
                <li><a href = "reader_message"><span class = "am-icon-commenting-o"></span><span th:text = "#{lm_yxy}"> 留言</span></a>
                </li>
            </ul>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-bookmark"></span> <span th:text = "#{no_yxy}">公告</span></p>
                    <p th:text = "#{tiqa44}">时光静好，与君语；细水流年，与君同。</p>
                </div>
            </div>

       <!--     <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-tag"></span> wiki</p>
                    <p>Welcome to the Amaze UI wiki!</p>
                </div>
            </div>-->
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class = "admin-content">
        <div class = "admin-content-body">
            <hr>
            <div class = "am-g am-padding">
                <div class = "am-u-sm-12 am-u-md-6 am-u-md-centered">
                    <div class = "am-input-group am-input-group-sm">
                        <input name = "string" id = "string" type = "text" class = "am-form-field am-radius">
                        <span class = "am-input-group-btn">
                            <button class = "am-btn am-btn-default am-icon-search am-radius"
                                    onclick = "getOnePageBook4_1()"
                                    type = "button" th:text = "#{Search}">搜索</button>
                        </span>
                    </div>
                </div>
            </div>
            <hr>

            <div class = "am-g">
                <div class = "am-u-sm-12">
                    <div class = "am-cf am-padding" id = "recom-book">
                        <div class = "am-fl am-cf"><strong class = "am-text-primary am-text-lg"
                                                           th:text = "#{ab44}">所有图书</strong></div>
                    </div>
                    <form class = "am-form">
                        <ul data-am-widget = "gallery" id = "all-books"
                            class = "am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-gallery-bordered"
                            data-am-gallery = "{  }">
                            <li th:each = "book:${page}">
                                <div class = "am-gallery-item">
                                    <a th:href = "@{book_details(isbn=${book.isbn})}" class = "">
                                        <img th:src = "${book.coverPath}" height = "326"/>
                                        <h3 th:text = "${book.title}" class = "am-gallery-title"></h3>
                                        <div class = "am-gallery-desc"><span th:text = "#{remain44}+'&nbsp;'">剩余：</span><strong
                                                th:text = "${book.number}"></strong><span
                                                th:text = "'&nbsp'+ #{books44}">本</span></div>
                                    </a>
                                    <button th:text = "#{reserve44}" th:if = "${book.number} eq 0" type = "button"
                                            class = "am-btn am-btn-primary am-round" disabled>
                                        预约
                                    </button>
                                    <button th:text = "#{reserve44}" th:if = "${book.number} gt 0" type = "button"
                                            class = "am-btn am-btn-primary am-round"
                                            th:onclick = "'javascript:book_reserve('+${book.isbn}+')'">
                                        预约
                                    </button>
                                </div>
                            </li>

                        </ul>
                        <hr>
                        <div class = "am-cf" id = "table-paging">
                            <span th:text = "#{total44}">共</span> [[${page.totalElements}]] <span
                                th:text = "#{records44}">条记录</span>
                            <div class = "am-fr">
                                <ul class = "am-pagination">
                                    <li>
                                        <button type = "button" class = "am-btn am-btn-primary am-round"
                                                onclick = "getOnePageBook_1()" th:text = "#{f_zj}">首页
                                        </button>
                                    </li>
                                    <li>
                                        <button type = "button" class = "am-btn am-btn-primary am-round"
                                                onclick = "getOnePageBook_2(-1)" th:text = "#{p_zj}">上一页
                                        </button>
                                    </li>
                                    <li>
                                        <button type = "button" class = "am-btn am-btn-primary am-round"
                                                onclick = "getOnePageBook_2(1)" th:text = "#{n_zj}">下一页
                                        </button>
                                    </li>
                                    <li>
                                        <button type = "button" class = "am-btn am-btn-primary am-round"
                                                th:onclick = "'javascript:getOnePageBook_3('+${page.totalPages}+'-1)'"
                                                th:text = "#{l_zj}">末页
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <footer>
            <hr>
            <p class = "am-padding-left" style = "text-align: center">© 2018 Biboliosoft Online Library System</p>
        </footer>

    </div>
    <!-- content end -->
</div>

<a href = "#" class = "am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas = "{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src = "http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src = "http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src = "assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src = "assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src = "assets/js/amazeui.min.js"></script>
<script src = "assets/js/app.js"></script>
<script src = "https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script type = "text/javascript" src = "assets/js/test.js"></script>
<script>
    function clear() {
        $('#recom-book').empty();
        $('#table-paging').empty();
    }
</script>
<script type = "text/javascript">
    $("#change").click(function () {
        translate();
    })
</script>
<script th:inline="javascript">
    function book_reserve(book_isbn) {
        var res = confirm([[#{con_appoint}]]);
        if(res == true){
            $.ajax({
                type: "get",
                data: {isbn: book_isbn},
                url: "reserve",
                success: function (data) {
                    if(data!=null)
                        alert([[#{Successful_appointment}]]);
                    else
                        alert([[#{rfptal}]]);
                    getOnePageBook_2(0);
                },
                error: function (data) {
                    alert([[#{aeoptal}]]);
                }
            });
        }
    }
</script>
<script th:inline = "javascript">

    var pageNumber = 0;

    function getOnePageBook_1() {
        pageNumber = 0;
        $.ajax({
            type: "get",
            url: "showbook",
            data: {start: 0, size: 12},
            success: function (data) {
                var str = "";
                $('#bk-table-3').empty();
                for (var i = 0; i < data.content.length; i++) {
                    str += "<li>\n" +
                        "                                <div class = \"am-gallery-item\">\n" +
                        "                                    <a href=\"book_details?isbn=" + data.content[i].isbn + "\" class = \"\">\n" +
                        "                                        <img src = \"" + data.content[i].coverPath + "\" height=\"326\" />\n" +
                        "                                        <h3 class = \"am-gallery-title\">" + data.content[i].title + "</h3>\n" +
                        "                                        <div class = \"am-gallery-desc\">" + [[#{remain44}]] + "&nbsp;" + "<strong>" + data.content[i].number + "</strong>" + "&nbsp;" + [[#{books44}]] + "</div>\n" +
                        "                                    </a>\n";
                    if (data.content[i].number == 0)
                        str += "                                    <button type = \"button\" class = \"am-btn am-btn-primary am-round\" disabled>\n" +
                            "                                        " + [[#{reserve44}]] + "\n" +
                            "                                    </button>\n"
                    else
                        str += "                                    <button type = \"button\" class = \"am-btn am-btn-primary am-round\" onclick=\"book_reserve(data.content[i].isbn)\">\n" +
                            "                                        " + [[#{reserve44}]] + "</button>\n"
                    str += "                                </div>\n" +
                        "                            </li>"
                }
                $('#all-books').html(str);
            }
        });
    }

    function getOnePageBook_2(temp) {
        pageNumber += temp;
        if (pageNumber < 0)
            pageNumber = 0;
        else if (pageNumber >= [[${page.totalPages}]])
            pageNumber = [[${page.totalPages}]] - 1;
        else
            $.ajax({
                type: "get",
                url: "showbook",
                data: {start: pageNumber, size: 12},
                success: function (data) {
                    var str = '';
                    $('#all-books').empty();
                    for (var i = 0; i < data.content.length; i++) {
                        str += "<li>\n" +
                            "                                <div class = \"am-gallery-item\">\n" +
                            "                                    <a href=\"book_details?isbn=" + data.content[i].isbn + "\" class = \"\">\n" +
                            "                                        <img src = \"" + data.content[i].coverPath + "\" height=\"326\" />\n" +
                            "                                        <h3 class = \"am-gallery-title\">" + data.content[i].title + "</h3>\n" +
                            "                                        <div class = \"am-gallery-desc\">" + [[#{remain44}]] + "&nbsp;" + "<strong>" + data.content[i].number + "</strong>" + "&nbsp;" + [[#{books44}]] + "</div>\n" +
                            "                                    </a>\n";
                        if (data.content[i].number == 0)
                            str += "                                    <button type = \"button\" class = \"am-btn am-btn-primary am-round\" disabled>\n" +
                                "                                        " + [[#{reserve44}]] + "\n" +
                                "                                    </button>\n"
                        else
                            str += "                                    <button type = \"button\" class = \"am-btn am-btn-primary am-round\" onclick=\"book_reserve(data.content[i].isbn)\">\n" +
                                "                                        " + [[#{reserve44}]] + "</button>\n"
                        str += "                                </div>\n" +
                            "                            </li>"
                    }
                    $('#all-books').html(str);
                }
            });
    }

    function getOnePageBook_3(end) {
        pageNumber = end;
        $.ajax({
            type: "get",
            url: "showbook",
            data: {start: end, size: 12},
            success: function (data) {
                var str = '';
                $('#all-books').empty();
                for (var i = 0; i < data.content.length; i++) {
                    str += "<li>\n" +
                        "                                <div class = \"am-gallery-item\">\n" +
                        "                                    <a href=\"book_details?isbn=" + data.content[i].isbn + "\" class = \"\">\n" +
                        "                                        <img src = \"" + data.content[i].coverPath + "\" height=\"326\" />\n" +
                        "                                        <h3 class = \"am-gallery-title\">" + data.content[i].title + "</h3>\n" +
                        "                                        <div class = \"am-gallery-desc\">" + [[#{remain44}]] + "&nbsp;" + "<strong>" + data.content[i].number + "</strong>" + "&nbsp;" + [[#{books44}]] + "</div>\n" +
                        "                                    </a>\n";
                    if (data.content[i].number == 0)
                        str += "                                    <button type = \"button\" class = \"am-btn am-btn-primary am-round\" disabled>\n" +
                            "                                        " + [[#{reserve44}]] + "\n" +
                            "                                    </button>\n"
                    else
                        str += "                                    <button type = \"button\" class = \"am-btn am-btn-primary am-round\" onclick=\"book_reserve(data.content[i].isbn)\">\n" +
                            "                                        " + [[#{reserve44}]] + "</button>\n"
                    str += "                                </div>\n" +
                        "                            </li>"
                }
                $('#all-books').html(str);
            }
        });
    }
</script>

<script th:inline = "javascript">
    var totalPage4 = 0;
    var pageNumber4 = 0;

    function getOnePageBook4_1() {
        pageNumber4 = 0;
        var inputDoc=document.getElementById("string");
        var string=inputDoc.value;
        $.ajax({
            type: "get",
            url: "searchBook",
            data: {string: string, start: 0, size: 12},
            success: function (data) {
                console.log(data);
                var str = "";
                totalPage4 = data.totalPages;
                $('#bk-table-3').empty();
                for (var i = 0; i < data.content.length; i++) {
                    str += "<li>\n" +
                        "                                <div class = \"am-gallery-item\">\n" +
                        "                                    <a href=\"book_details?isbn=" + data.content[i].isbn + "\" class = \"\">\n" +
                        "                                        <img src = \"" + data.content[i].coverPath + "\" height=\"326\" />\n" +
                        "                                        <h3 class = \"am-gallery-title\">" + data.content[i].title + "</h3>\n" +
                        "                                        <div class = \"am-gallery-desc\">" + [[#{remain44}]] + "&nbsp;" + "<strong>" + data.content[i].number + "</strong>" + "&nbsp;" + [[#{books44}]] + "</div>\n" +
                        "                                    </a>\n";
                    if (data.content[i].number == 0)
                        str += "                                    <button type = \"button\" class = \"am-btn am-btn-primary am-round\" disabled>\n" +
                            "                                        " + [[#{reserve44}]] + "\n" +
                            "                                    </button>\n"
                    else
                        str += "                                    <button type = \"button\" class = \"am-btn am-btn-primary am-round\" onclick=\"book_reserve(data.content[i].isbn)\">\n" +
                            "                                        " + [[#{reserve44}]] + "</button>\n"
                    str += "                                </div>\n" +
                        "                            </li>"
                }
                var str1 = "";
                str1 += "<div class = \"am-cf\" id=\"table-paging\">\n" +
                    "                            " + [[#{total44}]] + " " + data.totalElements + " " + [[#{records44}]] + "\n" +
                    "                            <div class = \"am-fr\">\n" +
                    "                                <ul class = \"am-pagination\">\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_1()\">"+[[#{ho_yxy}]]+"</button></li>\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_2(-1)\">"+[[#{p_zj}]]+"</button></li>\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_2(1)\">"+[[#{n_zj}]]+"</button></li>\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_3()\">"+[[#{l_zj}]]+"</button></li>\n" +
                    "                                </ul>\n" +
                    "                            </div>\n" +
                    "                        </div>"
                clear();
                $('#all-books').html(str);
                $('#table-paging').html(str1);
            }
        });
    }

    function getOnePageBook4_2(temp) {
        pageNumber4 += temp;
        var inputDoc=document.getElementById("string");
        var string=inputDoc.value;

        if (pageNumber4 < 0)
            pageNumber4 = 0;
        else if (pageNumber4 >= totalPage4)
            pageNumber4 = totalPage4 - 1;
        else
            $.ajax({
                type: "get",
                url: "searchBook",
                data: {string:string, start: pageNumber4, size: 12},
                success: function (data) {
                    var str = '';
                    $('#all-books').empty();
                    for (var i = 0; i < data.content.length; i++) {
                        str += "<li>\n" +
                            "                                <div class = \"am-gallery-item\">\n" +
                            "                                    <a href=\"book_details?isbn=" + data.content[i].isbn + "\" class = \"\">\n" +
                            "                                        <img src = \"" + data.content[i].coverPath + "\" height=\"326\" />\n" +
                            "                                        <h3 class = \"am-gallery-title\">" + data.content[i].title + "</h3>\n" +
                            "                                        <div class = \"am-gallery-desc\">" + [[#{remain44}]] + "&nbsp;" + "<strong>" + data.content[i].number + "</strong>" + "&nbsp;" + [[#{books44}]] + "</div>\n" +
                            "                                    </a>\n";
                        if (data.content[i].number == 0)
                            str += "                                    <button type = \"button\" class = \"am-btn am-btn-primary am-round\" disabled>\n" +
                                "                                        " + [[#{reserve44}]] + "\n" +
                                "                                    </button>\n"
                        else
                            str += "                                    <button type = \"button\" class = \"am-btn am-btn-primary am-round\" onclick=\"book_reserve(data.content[i].isbn)\">\n" +
                                "                                        " + [[#{reserve44}]] + "</button>\n"
                        str += "                                </div>\n" +
                            "                            </li>"
                    }
                    var str1 = "";
                    str1 += "<div class = \"am-cf\" id=\"table-paging\">\n" +
                        "                            " + [[#{total44}]] + " " + data.totalElements + " " + [[#{records44}]] + "\n" +
                        "                            <div class = \"am-fr\">\n" +
                        "                                <ul class = \"am-pagination\">\n" +
                        "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_1()\">"+[[#{ho_yxy}]]+"</button></li>\n" +
                        "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_2(-1)\">"+[[#{p_zj}]]+"</button></li>\n" +
                        "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_2(1)\">"+[[#{n_zj}]]+"</button></li>\n" +
                        "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_3()\">"+[[#{l_zj}]]+"</button></li>\n" +
                        "                                </ul>\n" +
                        "                            </div>\n" +
                        "                        </div>"
                    clear();
                    $('#all-books').html(str);
                    $('#table-paging').html(str1);
                }
            });
    }

    function getOnePageBook4_3() {
        pageNumber4 = totalPage4-1;
        var inputDoc=document.getElementById("string");
        var string=inputDoc.value;
        $.ajax({
            type: "get",
            url: "searchBook",
            data: {string:string, start: pageNumber4, size: 12},
            success: function (data) {
                var str = '';
                $('#all-books').empty();
                for (var i = 0; i < data.content.length; i++) {
                    str += "<li>\n" +
                        "                                <div class = \"am-gallery-item\">\n" +
                        "                                    <a href=\"book_details?isbn=" + data.content[i].isbn + "\" class = \"\">\n" +
                        "                                        <img src = \"" + data.content[i].coverPath + "\" height=\"326\" />\n" +
                        "                                        <h3 class = \"am-gallery-title\">" + data.content[i].title + "</h3>\n" +
                        "                                        <div class = \"am-gallery-desc\">" + [[#{remain44}]] + "&nbsp;" + "<strong>" + data.content[i].number + "</strong>" + "&nbsp;" + [[#{books44}]] + "</div>\n" +
                        "                                    </a>\n";
                    if (data.content[i].number == 0)
                        str += "                                    <button type = \"button\" class = \"am-btn am-btn-primary am-round\" disabled>\n" +
                            "                                        " + [[#{reserve44}]] + "\n" +
                            "                                    </button>\n"
                    else
                        str += "                                    <button type = \"button\" class = \"am-btn am-btn-primary am-round\" onclick=\"book_reserve(data.content[i].isbn)\">\n" +
                            "                                        " + [[#{reserve44}]] + "</button>\n"
                    str += "                                </div>\n" +
                        "                            </li>"
                }
                var str1 = "";
                str1 += "<div class = \"am-cf\" id=\"table-paging\">\n" +
                    "                            " + [[#{total44}]] + " " + data.totalElements + " " + [[#{records44}]] + "\n" +
                    "                            <div class = \"am-fr\">\n" +
                    "                                <ul class = \"am-pagination\">\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_1()\">"+[[#{ho_yxy}]]+"</button></li>\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_2(-1)\">"+[[#{p_zj}]]+"</button></li>\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_2(1)\">"+[[#{n_zj}]]+"</button></li>\n" +
                    "                                    <li><button type=\"button\" class=\"am-btn am-btn-primary am-round\" onclick = \"getOnePageBook4_3()\">"+[[#{l_zj}]]+"</button></li>\n" +
                    "                                </ul>\n" +
                    "                            </div>\n" +
                    "                        </div>"
                clear();
                $('#all-books').html(str);
                $('#table-paging').html(str1);
            }
        });
    }
</script>
</body>
</html>
