<!doctype html>
<html class = "no-js" xmlns:text-align = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <title>Bibliosoft</title>
    <meta name = "description" content = "这是一个 help 页面">
    <meta name = "keywords" content = "help">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <meta name = "renderer" content = "webkit">
    <meta http-equiv = "Cache-Control" content = "no-siteapp"/>
    <link rel = "icon" type = "image/jpg" href = "assets/i/head_logo.jpg">
    <link rel = "stylesheet" href = "assets/css/amazeui.min.css"/>
    <link rel = "stylesheet" href = "assets/css/admin.css">
    <style>
        .am-form-group {
            text-align: left;
        }

        .am-topbar {
            /*background-color: black;*/
        }

        .am-topbar .am-text-ir {
            display: block;
            margin-right: 10px;
            height: 50px;
            width: 125px;
            background: url(assets/i/logo.jpg) no-repeat left center;
            -webkit-background-size: 125px 24px;
            background-size: 125px 24px;
        }
    </style>
</head>
<body>
<!--[if lte IE 9]>
<p class = "browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href = "http://browsehappy.com/"
                                                                          target = "_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class = "am-topbar am-topbar-inverse admin-header">
    <h1 class = "am-topbar-brand ">
        <a href = "#" class = "am-text-ir">BiblioSoft</a>
    </h1>

    <button class = "am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse = "{target: '#doc-topbar-collapse'}"><span class = "am-sr-only">导航切换</span> <span
            class = "am-icon-bars"></span></button>

    <div class = "am-collapse am-topbar-collapse" id = "doc-topbar-collapse">

        <div class = "am-collapse am-topbar-collapse" id = "topbar-collapse">

            <ul class = "am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

                <li><a href = "javascript:;">
                    <button id = "change" class = "am-btn am-btn-primary am-btn-sm">中文/英文</button>
                </a></li>

                <li class = "am-dropdown" data-am-dropdown>
                    <a class = "am-dropdown-toggle" data-am-dropdown-toggle href = "javascript:;">
                        <a th:href = "@{/logout}">注销</a>
                    </a>

                </li>

            </ul>
        </div>

    </div>
</header>

<div class = "am-cf admin-main">
    <!-- sidebar start -->
    <div class = "admin-sidebar am-offcanvas" id = "admin-offcanvas">
        <div class = "am-offcanvas-bar admin-offcanvas-bar">
            <div class = "user-info">
                <img class = "am-img-circle am-img-thumbnail am-center" width="200" height="200"
                     th:src= "${avatarPath}"
                     alt = ""/>
                <p style = "text-align: center" th:text="${username}">Reader</p>
            </div>
            <ul class = "am-list admin-sidebar-list">
                <li><a href = "reader_condition"><span class = "am-icon-bar-chart"></span> <span th:text="#{lis44}">借书信息统计</span></a></li>
                <li><a href = "reader_search"><span class = "am-icon-search"></span><span th:text="#{sp44}"> 搜索页面</span></a></li>
                <li><a href = "reader_information" class = "am-cf"><span class = "am-icon-check"></span> <span th:text="#{pd_yxy}">个人资料</span><span
                        class = "am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                <li><a href = "password_change"><span class = "am-icon-eraser"></span> <span th:text="#{cp_yxy}">修改密码</span></a></li>
                <li><a href = "reader_message"><span class = "am-icon-commenting-o"></span> <span th:text="#{m44}">留言</span></a></li>
            </ul>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-bookmark"></span> <span th:text="#{no_yxy}">公告</span></p>
                    <p th:text="#{tiqa44}">时光静好，与君语；细水流年，与君同。</p>
                </div>
            </div>

            <div class = "am-panel am-panel-default admin-sidebar-panel">
                <div class = "am-panel-bd">
                    <p><span class = "am-icon-tag"></span> wiki</p>
                    <p>Welcome to the Amaze UI wiki!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class = "admin-content">
        <div class = "admin-content-body">
            <div class = "am-tab-panel am-fade am-in am-active">
                <form class = "am-form">
                    <fieldset>
                        <div class = "am-cf am-padding">
                            <div class = "am-fl am-cf"><strong class = "am-text-primary am-text-lg" th:text="#{plam44}">请留言：</strong></div>
                        </div>

                        <div class = "am-g am-margin-top">
                            <div class = "am-u-sm-4 am-u-md-2 am-text-right">
                                <strong th:text="#{mt44}">
                                    留言标题
                                </strong>
                            </div>
                            <div class = "am-u-sm-8 am-u-md-4">
                                <input type = "text" class = "am-input-sm">
                            </div>
                            <div class = "am-hide-sm-only am-u-md-6" th:text="#{mfu44}">*必填，不可重复</div>
                        </div>

                        <div class = "am-g am-margin-top">
                            <div class = "am-u-sm-4 am-u-md-2 am-text-right">
                                <strong th:text="#{ma44}">
                                    留言作者
                                </strong>
                            </div>
                            <div class = "am-u-sm-8 am-u-md-4 am-u-end col-end">
                                <input type = "text" class = "am-input-sm">
                            </div>
                        </div>

                        <div class = "am-g am-margin-top">
                            <div class = "am-u-sm-4 am-u-md-2 am-text-right">
                                <strong th:text="#{ca44}">
                                    内容摘要
                                </strong>
                            </div>
                            <div class = "am-u-sm-8 am-u-md-4">
                                <input type = "text" class = "am-input-sm">
                            </div>
                            <div class = "am-u-sm-12 am-u-md-6" th:text="#{dnf44}">不填写则自动截取内容前255字符</div>
                        </div>

                        <div class = "am-g am-margin-top-sm">
                            <div class = "am-u-sm-12 am-u-md-2 am-text-right admin-form-text">
                                <strong th:text="#{cd44}">
                                    内容描述
                                </strong>
                            </div>
                            <div class = "am-u-sm-12 am-u-md-10">
                                <textarea rows = "10" th:placeholder = "#{utrt44}"></textarea>
                            </div>
                        </div>
                        <hr/>
                        <p>
                            <button type = "submit" class = "am-btn am-btn-default am-center" th:text="#{sts44}">提交保存</button>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>

        <footer class = "admin-content-footer">
            <hr>
            <p class = "am-padding-left" style = "text-align: center">© 2018 Biboliosoft Online Library System</p>
        </footer>

    </div>
    <!-- content end -->

</div>

<a href = "#" class = "am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas = "{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class = "am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src = "http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src = "http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src = "assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src = "assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src = "assets/js/amazeui.min.js"></script>
<script src = "assets/js/app.js"></script>
<script src = "https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script type = "text/javascript" src = "assets/js/test.js"></script>
<script type = "text/javascript">
    $("#change").click(function () {
        translate();
    })
</script>
</body>
</html>
